{%raw%}
<div class="payment-progress-wrapper payment-stages-bg" id="payment-stages">
  <ul class="progress-indicator">
    {{#tabs:tab}}
      <li class="indicator {{#if active}}active{{/if}} {{#if complete}}completed{{/if}}">
        <span class="bubble"></span>{{ label }}<br>
      </li>
    {{/}}
  </ul>
</div><!--eof payment-box-progress-wrapper -->
<div class="payment-stages-wrapper">
  {{#tabs:tab, order}}
    {{#if id === 'boxoffice-selectItems' && active}}
      <div id='{{id}}' class="boxoffice-section ticket-selection-content clearfix active" intro='fly:{"x":-600,"y":"0"}'>
        <ul class="nav nav-tabs {{#if section.categories.length > 4}}width-4{{else}}width-{{section.categories.length}}{{/if}}" role="tablist">
          {{#section.categories}}
            <li role="presentation" class="category {{#if @index === 0}}active{{/if}}"><a href="#{{title}}" aria-controls="{{title}}" role="tab" data-toggle="tab">{{ title }}</a></li>
          {{/section.categories}}
        </ul>
        <div class="tab-content">
          {{#section.categories}}
            <div role="tabpanel" class="tab-pane fade {{#if @index === 0}}active in{{/if}}" id="{{title}}">
              {{#items}}{{# { item: . } }}
                <div class="ticket-booking clearfix">
                  <div class="ticket-details">
                    <p class="ticket-title text-primary">{{ item.title }}</p>
                    {{#item.discount_policies}}
                    <p class="discount {{#discountApplied}}applied{{/}}" id="{{id}}">{{ title }} {{#discountApplied}}<i class="fa fa-check"></i>{{/}}</p>
                    {{/item.discount_policies}}
                    <div class="ticket-description">{{{ item.description }}}</div>
                  </div>
                  <div class="ticket-price-qty">
                    <p class="ticket-price"><i class="fa fa-inr"></i> {{ item.price }}</p> 
                    <span class="multiplier">X</span>
                    {{#order.line_items}} {{# { line_item: . } }}
                      {{#if line_item.item_name === item.name }}
                        <div class="ticket-qty-wrapper">
                          <button class="decrement" on-click="updateLineItems(event, line_item.item_name, item.quantity_available, false)">-</button>
                          <input type="number" class="ticket-qty" name="quantity" min="0" max="{{ item.quantity_available }}" value="{{ line_item.quantity }}" disabled>
                          <button class="increment" on-click="updateLineItems(event, line_item.item_name, item.quantity_available, true)">+</button>
                        </div>
                      {{/if}}
                    {{/}}{{/order.line_items}}
                  </div> 
                </div>
              {{/}}{{/items}}
            </div>
          {{/section.categories}}
        </div>
        <hr>
        <div class="ticket-total {{#loadingPrice}}grey-out{{/}} clearfix">
          <p class="price">Total : <span class="pull-right"><i class="fa fa-inr"></i> {{ order.price }}</span></p>
        </div>
        {{#complete}}
        <div class="proceed-button-wrapper" intro='fly:{"x":200,"y":"0"}'>
          <button id="stage1-proceed" class="boxoffice-button boxoffice-button-action" on-click="showBuyerForm(event)">Continue</button>
        </div>
        {{/complete}}
        <p class="stage-error-msg text-danger">{{errorMsg}}</p>
      </div>
    {{elseif id === 'boxoffice-payment' && active}}
      {{#loadingPaymentConfirmation}}
        <div class="loader"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
      {{/}}
      <div id='{{id}}' class="boxoffice-section clearfix active" intro='fly:{"x":600,"y":"0"}'>
        <p class="buyer-form">Buyer Details</p>
        <form class="form-horizontal" role="form" id="buyer-details-form" name="buyer-form">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control buyer-fields secondary" name="name" required value = {{order.name }} placeholder="Name"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control buyer-fields secondary" name="email" required value = {{order.email }} placeholder="Email"/>
            </div>
          </div>
          <div class="form-group phone-number-wrapper">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control buyer-fields secondary" name="phone" required value = {{order.phone }} placeholder="Phone"/>
            </div>
          </div>
          <div class="checkout-confirmation col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <p class="summary">Booking Summary</p>
            {{#order.line_items}} {{# { line_item: . } }}
              {{#if line_item.quantity > 0 }}
              <p class="booked-ticket-title"><i class="fa fa-ticket"></i>{{ line_item.item_title }}<p>
              <p class="booked-ticket-qty">Qty: {{ line_item.quantity }}</p>
              {{/if}}
            {{/}}{{/order.line_items}}
            <p class="price">Amount Payable: <b><i class="fa fa-inr"></i> {{ order.price }}</b></p>
          </div>
          <div class="proceed-button-wrapper">
            <button class="boxoffice-button boxoffice-button-info edit-order" on-click="showSelectTickets(event)">Edit order</button>
            <button type="submit" class="boxoffice-button boxoffice-button-action">Checkout</button>
          </div>
          <p class="stage-error-msg text-danger">{{ errorMsg }}</p>
        </form> 
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      </div>
    {{elseif id === 'boxoffice-confirm' && active}}
      <div id='{{id}}' class="boxoffice-section clearfix active" intro='fly:{"x":600,"y":"0"}'>
        <p class="confirmation">Confirmation Message</p>
        <p class="confirmation"><a href="{{ invoiceURL }}" target="_blank">Invoice</a></p>
      </div>      
    {{/if}}
  {{/}}
</div>
{%endraw%}
<style>
  #boxoffice-widget {
    max-width: 1000px;
    margin: auto;
  }
  .boxoffice-button {
    border-width: 0px 0px 3px;
    border-style: solid;
    border-radius: 5px;
    padding: 6px 12px;
    color: #fff;
    font-size: 15px;
  }
  .boxoffice-button-action {
    background-color: #5CB85C;
    border-color: #4CAE4C;
  }
  .boxoffice-button-info {
    background-color: #5BC0DE;
    border-color: #46B8DA;
  }
  @media (min-width: 768px) {
    .box-widget-button,
    .box-widget-button-info {
      font-size: 17px;
    } 
  }
  .payment-progress-wrapper {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px 15px 0 0;
  }
  .progress-indicator {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 0 1em;
      padding: 0;
      font-size: 80%;
      text-transform: uppercase
  }
  .progress-indicator>li {
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1;
      list-style: none;
      text-align: center;
      width: auto;
      padding: 0;
      margin: 0;
      position: relative;
      text-overflow: ellipsis;
      color: #bbb;
      display: block
  }
  .progress-indicator>li.completed,
  .progress-indicator>li.completed .bubble {
      color: #65d074
  }
  .progress-indicator>li .bubble {
      border-radius: 1000px;
      width: 20px;
      height: 20px;
      background-color: #bbb;
      display: block;
      margin: 0 auto .5em;
      border-bottom: 1px solid #888
  }
  .progress-indicator>li .bubble:after,
  .progress-indicator>li .bubble:before {
      display: block;
      position: absolute;
      top: 9px;
      width: 100%;
      height: 3px;
      content: '';
      background-color: #bbb
  }
  .progress-indicator>li.completed .bubble,
  .progress-indicator>li.completed .bubble:after,
  .progress-indicator>li.completed .bubble:before {
      background-color: #65d074;
      border-color: #247830
  }
  .progress-indicator>li .bubble:before {
      left: 0
  }
  .progress-indicator>li .bubble:after {
      right: 0
  }
  .progress-indicator>li.active,
  .progress-indicator>li.active .bubble {
      color: #337AB7
  }
  .progress-indicator>li.active .bubble,
  .progress-indicator>li.active .bubble:after,
  .progress-indicator>li.active .bubble:before {
      background-color: #337AB7;
      border-color: #122a3f
  }
  @media handheld,
  screen and (max-width:400px) {
      .progress-indicator {
          font-size: 60%
      }
  }
  .payment-stages-wrapper {
    overflow: hidden;
    position: relative;
  }
  .boxoffice-section {
    padding: 20px;
    border: 2px solid #ccc;
    border-top-width: 0;
    display: none;
    min-height: 450px;
  }
  .boxoffice-section.active {
    display: block;
  }
  .ticket-selection-content .nav-tabs>li.category {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
  }
  .ticket-selection-content .nav-tabs.width-1 > li.category {
    width: 100%;
    text-align: center;
  }
  .ticket-selection-content .nav-tabs.width-2 > li.category, 
  .ticket-selection-content .nav-tabs.width-4 > li.category {
    width: 50%;
    text-align: center;
    margin-top: 10px;
  }
  .ticket-selection-content .nav-tabs.width-3 > li.category {
    width: 33.3%;
    text-align: center;
    margin-top: 10px;
  }
  @media (min-width: 768px) {
    .ticket-selection-content .nav-tabs.width-3 > li.category {
      width: 33.3%;
      text-align: center;
    }

    .ticket-selection-content .nav-tabs.width-4 > li.category {
      width: 25%;
      text-align: center;
    }
  }
  .ticket-selection-content .nav-tabs .category a {
    font-size: 13px;
    font-weight: 500;
    outline: none;
    padding: 5px 0;
    text-align: center;
    border-color: transparent;
    border-radius: 0;
  }
  .ticket-selection-content .nav-tabs .category a:focus, 
  .ticket-selection-content .nav-tabs .category a:hover {
    border-color: transparent;
    border-radius: 0;
  }
  .ticket-selection-content .nav-tabs .category.active > a, 
  .ticket-selection-content .nav-tabs .category.active > a:focus, 
  .ticket-selection-content .nav-tabs .category.active > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  @media (min-width: 768px) {
    .ticket-selection-content .nav-tabs .category a {
      font-size: 15px;
      padding: 10px 15px;
    }
  }
  .category::after {
    transform: scaleX(0);
    transition: all 150ms ease 0s;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #ccc;
  }
  .category.active::after {
    transform: scaleX(1);
  }
  .ticket-details {
    float: left;
    width: 100%;
    word-break: break-word;
    margin-top: 10px;
  }
  @media (min-width: 768px) {
    .ticket-details {
      width: 70%;
    }
  }
  .ticket-title {
    font-size: 18px;
    margin-top: 10px;
  }
  @media (min-width: 768px) {
    .ticket-title {
      font-size: 20px;
      margin-top: 20px;
    }
  }
  .discount {
    color: red;
    font-size: 13px;
  }
  .discount.applied {
    color: green;
  }
  .ticket-description {
    font-size: 13px;
  }
  .ticket-description .fa {
    padding-right: 5px;
  }
  .ticket-price-qty {
    float: right;
    margin-top: 10px;
  }
  .ticket-price, .ticket-qty-wrapper {
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
  }
  @media (min-width: 768px) {
    .ticket-price, .ticket-qty-wrapper {
      margin-top: 20px;
    }
  }
  .ticket-qty-wrapper {
    border: 1px solid #CCC;
    border-radius: 4px;
    outline: medium none;
    color: #333;
    padding: 0;
    margin: -2px 0px 0px;
    position: relative;
    top: 8px;
    height: 30px;
    overflow: hidden;
    background: #f7f3a6;
  }
  .ticket-qty {
    width: 30px;
    border: 0px none;
    background: #f7f3a6;
    color: #333;
    line-height: 1;
    display: inline-block;
    padding-left: 8px;
    font-size: 16px;
    position: relative;
    top: -1px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .increment, .decrement {
    line-height: 1;
    font-size: 20px;
    background-color: #eee;
    height: 100%;
    border: 0;
    padding: 0 5px;
  }
  .ticket-price {
    padding-right: 20px;
  }
  .multiplier {
    padding-right: 20px;
    font-size: 15px;
  }
  .ticket-total {
    clear: both;
    width: 259px;
    float: right;
    border: 2px solid #ccc;
    margin: 15px 0;
    padding: 15px;
    background: #f7f3a6;
  }
  .grey-out {
    opacity: 0.5;
  }
  .price, .buyer-fields {
    font-size: 15px;
    margin: 0;
  }
  .proceed-button-wrapper {
    clear: both;
    margin: 15px 0 10px;
    float: right;
  }
  .edit-order {
    margin-right: 10px;
  }
  .stage-error-msg {
    clear: both;
    height: 20px;
    float: right;
    margin: 0px 0 10px;
  }
  .buyer-form, .summary {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
  }
  .booked-ticket-title {
    font-size: 16px;
  }
  .booked-ticket-title .fa-ticket {
    padding-right: 10px;
  }
  .booked-ticket-qty {
    font-size: 13px;
    color: #999;
    border-bottom: 1px dotted #CCC;
    padding: 0 0 10px 26px;
  }
  .loader {
    position: absolute;
    right: 0px;
    z-index: 1000;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
  }
  .loader .fa-spin {
    position: relative;
    color: #000;
    top: 43%;
    left: 48%;
  }
  .confirmation {
    text-align: center;
  }
</style>