{%raw%}
<div class="payment-progress-wrapper" id="payment-stages">
  <ul class="progress-indicator">
    {{#tabs:tab}}
      <li class="indicator {{#if active}}active{{/if}} {{#if complete}}completed{{/if}}">
        <span class="bubble"></span>{{ label }}<br>
      </li>
    {{/}}
  </ul>
</div><!--eof payment-box-progress-wrapper -->
<div class="payment-stages-wrapper">
  {{#tabs:tab, order}}
    {{#if id === 'boxoffice-selectItems' && active}}
      <div id='{{id}}' class="boxoffice-section ticket-selection-content clearfix active" intro='fly:{"x":-600,"y":"0"}'>
        <ul class="nav nav-tabs {{#if section.categories.length > 4}}width-4{{else}}width-{{section.categories.length}}{{/if}}" role="tablist">
          {{#section.categories}}
            <li role="presentation" {{#if @index === 0}}class="active"{{/if}}><a href="#{{title}}" aria-controls="{{title}}" role="tab" data-toggle="tab">{{ title }}</a></li>
          {{/section.categories}}
        </ul>
        <div class="tab-content">
          {{#section.categories}}
            <div role="tabpanel" class="tab-pane fade {{#if @index === 0}}active in{{/if}}" id="{{title}}">
              {{#items}}{{# { item: . } }}
                <div class="ticket-booking clearfix">
                  <div class="ticket-details">
                    <p class="ticket-title text-primary">{{ item.title }}</p>
                    {{#item.type}}
                    <p><i class="fa fa-tags ticket-type"></i>{{ item.type }}</p>
                    {{/item.type}}
                    {{#item.date}}
                    <p><i class="fa fa-calendar ticket-date"></i>{{ item.date }}</p>
                    {{/date}}
                    {{#item.venue}}
                    <p><i class="fa fa-map-marker ticket-venue"></i>{{ item.venue }}</p>
                    {{/item.venue}}
                    <p class="ticket-description">{{{ item.description }}}</p>
                  </div>
                  <div class="ticket-price-qty">
                    <p class="ticket-price"><i class="fa fa-inr"></i>{{ item.price }}</p> 
                    <span class="multiplier">X</span>
                    {{#order.line_items}} {{# { line_item: . } }}
                      {{#if line_item.name === item.name }}
                        <div class="ticket-qty-wrapper">
                          <button class="decrement" data-ticket="{{ line_item.name }}" on-click="ticketIncrementer(event.node, false)">-</button>
                          <input type="number" class="ticket-qty" name="quantity" min="0" max="{{ section.availableTickets(item.quantity_available) }}" value="{{ line_item.quantity }}" disabled id="{{ line_item.name }}" data-ticketprice="{{ item.price }}">
                          <button class="increment" data-ticket="{{ line_item.name }}" on-click="ticketIncrementer(event.node, true)">+</button>
                        </div>
                      {{/if}}
                    {{/}}{{/order.line_items}}
                  </div> 
                </div>
              {{/}}{{/items}}
            </div>
          {{/section.categories}}
        </div>
        <hr>
        <div class="ticket-total clearfix">
        <!-- <p class="tax">Service Tax: <i class="fa fa-inr"></i> {{ order.tax }}</p> -->
          <p class="price">Total : <span class="pull-right"><i class="fa fa-inr"></i> {{ order.price }}</span></p>
        </div>
        {{#complete}}
        <div class="proceed-button-wrapper" intro='fly:{"x":200,"y":"0"}'>
          <button id="stage1-proceed" class="box-widget-button" on-click="showBuyerForm(event)">Continue</button>
        </div>
        {{/complete}}
        <p class="stage-error-msg text-danger">{{errorMsg}}</p>
      </div>
    {{elseif id === 'boxoffice-payment' && active}}
      {{#loadingPaymentConfirmation}}
        <div class="loader"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
      {{/}}
      <div id='{{id}}' class="boxoffice-section clearfix active" intro='fly:{"x":600,"y":"0"}'>
        <p class="buyer-form">Buyer Details</p>
        <form class="form-horizontal" role="form" id="buyer-details-form" name="buyer-form">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control buyer-fields secondary" name="name" required value = {{order.name }} placeholder="Name"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control buyer-fields secondary" name="email" required value = {{order.email }} placeholder="Email"/>
            </div>
          </div>
          <div class="form-group phone-number-wrapper">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control buyer-fields secondary" name="phone" required value = {{order.phone }} placeholder="Phone"/>
            </div>
          </div>
          <div class="checkout-confirmation col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <p class="summary">Booking Summary</p>
            {{#order.line_items}} {{# { line_item: . } }}
              {{#if line_item.quantity > 0 }}
              <p class="booked-ticket-title"><i class="fa fa-ticket"></i>{{ line_item.title }}<p>
              <p class="booked-ticket-qty">Qty: {{ line_item.quantity }}</p>
              {{/if}}
            {{/}}{{/order.line_items}}
            <!-- <p class="tax">Service Tax: <i class="fa fa-inr"></i> {{ order.tax }}</p> -->
            <p class="price">Amount Payable: <b><i class="fa fa-inr"></i> {{ order.price }}</b></p>
          </div>
          <div class="proceed-button-wrapper">
            <button class="box-widget-button-info edit-order" on-click="showSelectTickets(event)">Edit order</button>
            <button type="submit" class="box-widget-button">Checkout</button>
          </div>
          <p class="stage-error-msg text-danger">{{ errorMsg }}</p>
        </form> 
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      </div>
    {{elseif id === 'boxoffice-confirm' && active}}
      <div id='{{id}}' class="boxoffice-section clearfix active" intro='fly:{"x":600,"y":"0"}'>
        <p class="confirmation">Confirmation Message</p>
        <p class="confirmation"><a href="{{ invoiceURL }}" target="_blank">Invoice</a></p>
      </div>      
    {{/if}}
  {{/}}
</div>
{%endraw%}
<style>
  #boxoffice-widget {
    max-width: 1000px;
    margin: auto;
  }
  .box-widget-button {
    background: #E05F26;
    border-width: 0px 0px 3px;
    border-style: solid;
    border-color:  #B94C1D;
    border-radius: 5px;
    padding: 6px 12px;
    color: #fff;
    font-size: 17px;
  }
  .box-widget-button-info {
    background: #E05F26;
    border-width: 0px 0px 3px;
    border-style: solid;
    background-color: #5BC0DE;
    border-color: #2A9CBE;
    border-radius: 5px;
    padding: 6px 12px;
    color: #fff;
    font-size: 15px;
  }
  .payment-progress-wrapper {
    background-color: #463850;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px 15px 0 0;
  }
  .progress-indicator {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex
  }
  .progress-indicator>li {
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1
  }
  .progress-indicator {
      margin: 0 0 1em;
      padding: 0;
      font-size: 80%;
      text-transform: uppercase
  }
  .progress-indicator>li {
      list-style: none;
      text-align: center;
      width: auto;
      padding: 0;
      margin: 0;
      position: relative;
      text-overflow: ellipsis;
      color: #bbb;
      display: block
  }
  .progress-indicator>li:hover {
      color: #6f6f6f
  }
  .progress-indicator>li.completed,
  .progress-indicator>li.completed .bubble {
      color: #65d074
  }
  .progress-indicator>li .bubble {
      border-radius: 1000px;
      width: 20px;
      height: 20px;
      background-color: #bbb;
      display: block;
      margin: 0 auto .5em;
      border-bottom: 1px solid #888
  }

  .progress-indicator>li .bubble:after,
  .progress-indicator>li .bubble:before {
      display: block;
      position: absolute;
      top: 9px;
      width: 100%;
      height: 3px;
      content: '';
      background-color: #bbb
  }

  .progress-indicator>li.completed .bubble,
  .progress-indicator>li.completed .bubble:after,
  .progress-indicator>li.completed .bubble:before {
      background-color: #65d074;
      border-color: #247830
  }

  .progress-indicator>li .bubble:before {
      left: 0
  }

  .progress-indicator>li .bubble:after {
      right: 0
  }

  .progress-indicator>li.active,
  .progress-indicator>li.active .bubble {
      color: #337AB7
  }

  .progress-indicator>li.active .bubble,
  .progress-indicator>li.active .bubble:after,
  .progress-indicator>li.active .bubble:before {
      background-color: #337AB7;
      border-color: #122a3f
  }

  .progress-indicator>li a:hover .bubble,
  .progress-indicator>li a:hover .bubble:after,
  .progress-indicator>li a:hover .bubble:before {
      background-color: #5671d0;
      border-color: #1f306e
  }

  .progress-indicator>li a:hover .bubble {
      color: #5671d0;
  }
  @media handheld,
  screen and (max-width:400px) {
      .progress-indicator {
          font-size: 60%
      }
  }
  .payment-stages-wrapper {
    overflow: hidden;
    position: relative;
  }
  .boxoffice-section {
    padding: 20px;
    border: 2px solid #ccc;
    border-top-width: 0;
    display: none;
    min-height: 450px;
  }
  .boxoffice-section.active {
    display: block;
  }
  .ticket-selection-content .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
  }
  .ticket-selection-content .nav-tabs.width-1 > li {
    width: 100%;
    text-align: center;
  }
  .ticket-selection-content .nav-tabs.width-1 > li {
    width: 100%;
    text-align: center;
  }

  .ticket-selection-content .nav-tabs.width-2 > li, 
  .ticket-selection-content .nav-tabs.width-3 > li,
  .ticket-selection-content .nav-tabs.width-4 > li {
    width: 50%;
    text-align: center;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .ticket-selection-content .nav-tabs.width-3 > li {
      width: 33.3%;
      text-align: center;
    }

    .payment-details-content .nav-tabs > li {
      width: 33.3%;
      text-align: center;
    }

    .ticket-selection-content .nav-tabs.width-4 > li {
      width: 25%;
      text-align: center;
    }
  }

  .ticket-selection-content .nav-tabs > li > a {
    font-size: 15px;
    font-weight: 500;
    outline: none;
  }

  .ticket-selection-content .nav-tabs > li::after {
      transform: scaleX(0);
      transition: all 150ms ease 0s;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      background-color: #463850;
  }

  .ticket-selection-content .nav-tabs > li.active::after {
      transform: scaleX(1);
  }

  .ticket-selection-content .nav > li > a:focus, 
  .ticket-selection-content .nav > li > a:hover {
    background-color: rgba(238, 238, 255, 0.4);
    border-color: transparent;
    border-radius: 0;
  }

  .ticket-selection-content .nav-tabs > li.active > a, 
  .ticket-selection-content .nav-tabs > li.active > a:focus, 
  .ticket-selection-content .nav-tabs > li.active > a:hover {
    border-color: transparent;
    color: #463850;
  }

  .ticket-selection-content .nav > li.active > a:focus, 
  .ticket-selection-content .nav > li.active > a:hover {
    background-color: transparent;
  }

  .ticket-details {
    float: left;
    width: 100%;
    word-break: break-word;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .ticket-details {
      width: 70%;
    }
  }

  .ticket-title {
    font-size: 20px;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .ticket-title {
      margin-top: 20px;
    }
  }

  .ticket-type, .ticket-date
  .ticket-venue, .ticket-description {
    font-size: 15px;
  }

  .ticket-price-qty {
    float: right;
    margin-top: 10px;
  }

  .ticket-price, .ticket-qty-wrapper {
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
  }

  @media (min-width: 768px) {
    .ticket-price, .ticket-qty-wrapper {
      margin-top: 20px;
    }
  }

  .ticket-qty-wrapper {
    border: 1px solid #CCC;
    border-radius: 4px;
    outline: medium none;
    color: #333;
    padding: 0;
    margin: -2px 0px 0px;
    position: relative;
    top: 8px;
    height: 30px;
    overflow: hidden;
  }

  .ticket-qty {
    width: 30px;
    border: 0px none;
    background-color: #fff;
    color: #333;
    line-height: 1;
    display: inline-block;
    padding-left: 8px;
    font-size: 16px;
    position: relative;
    top: -1px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .increment, .decrement {
    line-height: 1;
    font-size: 20px;
    background-color: #eee;
    height: 100%;
    border: 0;
    padding: 0 5px;
  }

  .ticket-price {
    padding-right: 20px;
  }

  .multiplier {
    padding-right: 20px;
    font-size: 15px;
  }

  .discount-code {
    clear: both;
    font-size: 15px;
    float: right;
    margin: 25px 0 0;
  }

  .icon-spinner {
    position: relative;
    top: 6px;
  }

  .discount-code input {
    width: 180px;
    padding: 3px 3px 3px 5px;
    line-height: 1.42857;
    height: 35px;
    position: relative;
    top: 2px;
    border-radius: 5px;
    border: 1px solid #eee;
  }

  @media (min-width: 768px) {
    .discount-code input {
      width: 200px;
      padding-left: 11px;
    }
  }

  .discount-code-msg {
    margin: 5px 9px 0;
    height: 22px;
  }

  .ticket-total {
    clear: both;
    width: 259px;
    float: right;
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
  }

  .tax {
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
  }

  .tax, .price, .buyer-fields {
    font-size: 15px;
    margin: 0;
  }

  .proceed-button-wrapper {
    clear: both;
    margin: 15px 0 10px;
    float: right;
  }

  .edit-order {
    margin-right: 10px;
  }

  .stage-error-msg {
    clear: both;
    height: 20px;
    float: right;
    margin: 0px 0 10px;
  }

  .buyer-form, .summary {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
  }
  @media (min-width: 768px) {
    .buyer-form, .summary {
      margin: 20px 0;
    }
  }
  .booked-ticket-title {
    font-size: 16px;
  }
  .booked-ticket-title .fa-ticket {
    padding-right: 10px;
  }
  .booked-ticket-qty {
    font-size: 13px;
    color: #999;
    border-bottom: 1px dotted #CCC;
    padding: 0 0 10px 26px;
  }
  .loader {
    position: absolute;
    right: 0px;
    z-index: 1000;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
  }
  .loader .fa-spin {
    position: relative;
    color: #000;
    top: 43%;
    left: 48%;
  }
  .confirmation {
    text-align: center;
  }
</style>