{%- extends "layout_email.html.jinja2" -%}
{%- from "macros_email.html.jinja2" import cta_button -%}
{%- block content -%}

  <br/>
  <tr align="right">
    <td class="receipt-header">
      <p>{%- trans %}Receipt no. {% endtrans -%}<span>{{ order.receipt_no }}</span></p>
    </td>
  </tr>
  <tr align="left">
    <td class="invoice-header">
      <p>{%- trans %}Hasgeek Learning Private Limited {% endtrans -%}</p>
    </td>
  </tr>
  <tr align="left">
    <td class="invoice-label">
      <p>{%- trans %}Address {% endtrans -%}</p>
    </td>
    <td>
      <p>
        {%- if org.details.get('address') %}
          {{ org.details.get('address')|safe }}
        {%- endif %}
      </p>
    </td>
    <td class="invoice-label">
      <p>{%- trans %}CIN {% endtrans -%}</p>
      <p>
        {%- if org.details.get('cin') %}
          <p>{{ org.details.get('cin') }}</p>
        {%- endif %}
      </p>
    </td>
    <td class="invoice-label">
      <p>{%- trans %}LLPIN {% endtrans -%}</p>
      <p>
        {%- if org.details.get('llpin') %}
          <p>{{ org.details.get('llpin') }}</p>
        {%- endif %}
      </p>
    </td>
    <td class="invoice-label">
      <p>{%- trans %}PAN {% endtrans -%}</p>
      <p>
        {%- if org.details.get('pan') %}
          <p>{{ org.details.get('pan') }}</p>
        {%- endif %}
      </p>
    </td>
  </tr>
  <tr align="left">
    <td class="invoice-header">
      <p>{%- trans %}Buyer Details{% endtrans -%}</p>
    </td>
  </tr>
  <tr align="left">
    <td class="invoice-label">
      <p>{%- trans %}Name {% endtrans -%}</p>
      <p>{{ order.buyer_fullname }}</p>
    </td>
    <td class="invoice-label">
      <p>{%- trans %}Phone {% endtrans -%}</p>
      <p>{{ order.buyer_phone }}</p>
    </td>
    <td class="invoice-label">
      <p>{%- trans %}Paid on {% endtrans -%}</p>
      <p>{{ order.paid_at | longdate }}</p>
    </td>
    <td class="invoice-label">
      <p>{%- trans %}Email {% endtrans -%}</p>
      <p>{{ order.buyer_email }}</p>
    </td>
  </tr>
  <tr align="left">
    <td class="invoice-header">
      <p>{%- trans %}Order Summary{% endtrans -%}</p>
    </td>
  </tr>
    <tr>
      <th>{% trans %}Item{% endtrans %}</th>
      <th></th>
      <th></th>
      <th>{% trans %}Price{% endtrans %}</th>
    </tr>
    <hr/>
    {% for line_item in line_items -%}
      <tr>
        <td colspan="3">
          <span class="item-title">{{ line_item.ticket.title }}</span><br/>
          <span class="item-description">{{ line_item.ticket.description }}</span>
        </td>
        <td class="right">
          <p>{{ currency_symbol }} {{ line_item.base_amount }}</p>
        </td>
      </tr>
    {%- endfor %}
  </table>
  <hr/>
  <table>
    <tr>
      <td>
        <p>Sub-total</p>
      </td>
      <td>
        <p>{{ currency_symbol }} {{ line_item.base_amount }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Discount</p>
      </td>
      <td>
        <p>{{ currency_symbol }} {{ line_item.discounted_amount }}</p>
        {% if line_item.discount_policy %}
          <p class="discount-policy">{{ line_item.discount_policy.title }}</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <p>Total</p>
      </td>
      <td class="center">
        <p>{{ currency_symbol }} {{ line_item.final_amount }}</p>
      </td>
    </tr>
  </table>
  {%- if order.refunded_amount %}
  <p class="table-title">{% trans %}Refunds{% endtrans %}</p>
    {% for transaction in order.refund_transactions -%}
      <table class="items-table">
        <tr>
          <td>
            <p>{% trans %}Receipt no.{% endtrans %}</p>
            <p>{{ order.receipt_no }}</p>
          </td>
          <td>
            <p>{% trans %}Refund date{% endtrans %}</p>
            <p>
              {% if transaction.refunded_at %}
                {{ transaction.refunded_at | longdate }}
              {%- endif %}
            </p>
          </td>
        </tr>
        <tr>
          <th>{% trans %}Refund reason{% endtrans %}</th>
          <th></th>
          <th></th>
          <th>{% trans %}Amount{% endtrans %}</th>
        </tr>
        <tr>
          <td>
            {%- if transaction.refund_description %}
              <td>{{ transaction.refund_description }}</td>
            {%- elif transaction.refunded_at %}
              <td>{% trans date=transaction.refunded_at|longdate %}Refunded on {{ date }}{% endtrans %}</td>
            {%- else %}
              <td>{% trans %}Refund{% endtrans %}</td>
            {%- endif %}
          </td>
          <td class="total-amount center"><p id="total">{{ currency_symbol }} {{ transaction.amount }}</p></td>
        </tr>
          <tr>
            <td class="center">{{ loop.index }}</td>
            <td class="center">{{ order.receipt_no }}</td>
            <td class="center">
            </td>
            <td class="total-amount center"><div id="total">{{ currency_symbol }} {{ transaction.amount }}</div></td>
          </tr>
        {%- endfor %}
        <tr>
          <td></td>
          <td colspan="3" class="total gray">{% trans %}Total refund{% endtrans %}</td>
          <td class="total gray center">{{ currency_symbol }} {{ order.refunded_amount }}</td>
        </tr>
      </table>
  {%- endif %}

  {# Button : BEGIN #}
  {{ cta_button(url_for('assign_ticket'), gettext("Assign ticket") )}}
  {{ cta_button(url_for('gst'), gettext("GST invoice") )}}
  {# Button : END #}
  <table class="items-table">
      <tr>
        <td></td>
        <td colspan="2" class="total gray">{% trans %}Total paid{% endtrans %}</td>
        <td class="total-amount gray center"><div id="total">{{ currency_symbol }} {{ order.paid_amount }}</div></td>
      </tr>
      {% if order.refunded_amount > 0 %}
        <tr>
          <td></td>
          <td colspan="2" class="total gray">{% trans %}Net paid (post refund){% endtrans %}</td>
          <td class="total-amount gray center"><div id="net-amount">{{ currency_symbol }} {{ order.net_amount }}</div></td>
        </tr>
      {% endif %}
    </table>

{%- endblock content -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% trans %}Receipt{% endtrans %}</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Source Sans Pro",Arial,sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #333;
      background-color: #fff;
      padding: 15px;
    }

    a {
      text-decoration: none;
    }

    p {
      margin: 5px 0 5px;
    }

    .wrapper {
      max-width: 800px;
      margin: 20px auto;
    }

    .header {
      font-size: 35px;
      text-align: center;
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid #000;
    }

    .logo {
      float: left;
      max-width: 150px;
      margin-bottom: 10px;
    }

    .logo img {
      width: 100%;
    }

    .address {
      clear: both;
    }

    @media (min-width: 768px) {
      .address {
        clear: none;
        float: right;
      }
    }

    .company-name {
      font-size: 20px;
      margin: 0 0 10px;
    }

    .customer {
      padding-top: 20px;
      clear: both;
      word-break: break-all;
    }

    table {
      border-collapse: collapse;
    }

    table td, table th {
      border: 1px solid #000;
      padding: 5px;
    }

    .center {
      text-align: center;
      vertical-align: top;
    }

    .cutomer-details {
      float: left;
      min-width: 250px;
      margin-bottom: 10px;
    }

    @media (min-width: 768px) {
      .cutomer-details {
        margin-bottom: 20px;
      }
    }

    @media (min-width: 768px) {
      .address {
        clear: none;
        float: right;
      }
    }

    .details {
      float: right;
      margin-bottom: 20px;
    }

    .table-title {
      font-size: 25px;
      font-weight: bold;
      clear: both;
      margin: 25px 0 15px;
    }

    .items-table {
      width: 100%;
      clear: both;
      margin: 0 0 15px;
    }

    .item-title {
      font-weight: bold;
    }

    .item-description ol,
    .item-description ul {
      padding-left: 15px;
    }

    .gray {
      background-color: #eee;
    }

    .total, .total-amount {
      font-weight: 600;
    }

    .terms {
      margin-top: 20px;
    }

    .discount-policy {
      font-size: 85%;
      font-style: italic;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <h1 class="header">{% trans %}Cash Receipt{% endtrans %}</h1>

    <div class="company-details">
      {%- if org.details.get('logo') %}
        <div class="logo">
          <img src="{{org.details.get('logo')}}"/>
        </div>
      {%- endif %}

      <div class="address">
        {%- if org.details.get('address') %}
          {{ org.details.get('address')|safe }}
        {%- endif %}
        {%- if org.details.get('cin') %}
          <p>{% trans %}CIN:{% endtrans %} {{ org.details.get('cin') }}</p>
        {%- elif org.details.get('llpin') %}
          <p>{% trans %}LLPIN:{% endtrans %} {{ org.details.get('llpin') }}</p>
        {%- endif %}
        {%- if org.details.get('pan') %}
          <p>{% trans %}PAN:{% endtrans %} {{ org.details.get('pan') }}</p>
        {%- endif %}
        {%- if org.details.get('service_tax_no') %}
          <p>{% trans %}Service Tax No:{% endtrans %} {{ org.details.get('service_tax_no') }}</p>
        {%- endif %}
        {%- if org.details.get('website') %}
          <p><a href="{{ org.details.get('website') }}">{{ org.details.get('website') }}</a></p>
        {%- endif %}
        <p><a href="mailto:{{ org.contact_email }}">{{ org.contact_email }}</a></p>
      </div>
    </div>

    <div class="customer">
      <table class="cutomer-details">
        <tr>
          <th class="gray" colspan="2">{% trans %}Bill To{% endtrans %}</th>
        </tr>
        <tr>
          <td class="gray">{% trans %}Name{% endtrans %}</td>
          <td>{{ order.buyer_fullname }}</td>
        </tr>
        <tr>
          <td class="gray">{% trans %}Email{% endtrans %}</td>
          <td>{{ order.buyer_email }}</td>
        </tr>
        <tr>
          <td class="gray">{% trans %}Phone{% endtrans %}</td>
          <td>{{ order.buyer_phone }}</td>
        </tr>
      </table>

      <table class="details">
        <tr>
          <td class="gray">{% trans %}Receipt#{% endtrans %}</td>
          <td>{{ order.receipt_no }}</td>
        </tr>
        <tr>
          <td class="gray">{% trans %}Date{% endtrans %}</td>
          <td>{{ order.paid_at | longdate }}</td>
        </tr>
      </table>
    </div>

    <table class="items-table">
      <tr>
        <th>{% trans %}Ticket No.{% endtrans %}</th>
        <th>{% trans %}Base Price{% endtrans %}</th>
        <th>{% trans %}Discount{% endtrans %}</th>
        <th>{% trans %}Final Price{% endtrans %}</th>
      </tr>

      {% for line_item in line_items -%}
        <tr>
          <td class="center" rowspan="2" valign="top">{{ line_item.line_item_seq }}</td>
          <td colspan="3">
            <span class="item-title">{{ line_item.ticket.title }}</span><br/>
            <span class="item-description">{{ line_item.ticket.description }}</span>
          </td>
        </tr>
        <tr>
          <td class="center">
            <p>{{ currency_symbol }} {{ line_item.base_amount }}</p>
          </td>
          <td class="center">
            <p>{{ currency_symbol }} {{ line_item.discounted_amount }}</p>
            {% if line_item.discount_policy %}
              <p class="discount-policy">{{ line_item.discount_policy.title }}</p>
            {% endif %}
          </td>
          <td class="center">
            <p>{{ currency_symbol }} {{ line_item.final_amount }}</p>
          </td>
        </tr>
      {%- endfor %}
      <tr>
        <td></td>
        <td colspan="2" class="total gray">{% trans %}Total paid{% endtrans %}</td>
        <td class="total-amount gray center"><div id="total">{{ currency_symbol }} {{ order.paid_amount }}</div></td>
      </tr>
      {% if order.refunded_amount > 0 %}
        <tr>
          <td></td>
          <td colspan="2" class="total gray">{% trans %}Net paid (post refund){% endtrans %}</td>
          <td class="total-amount gray center"><div id="net-amount">{{ currency_symbol }} {{ order.net_amount }}</div></td>
        </tr>
      {% endif %}
    </table>

    {%- if order.refunded_amount %}
    <p class="table-title">{% trans %}Refunds{% endtrans %}</p>
    <table class="items-table">
      <tr>
        <th>{% trans %}No.{% endtrans %}</th>
        <th>{% trans %}Receipt#{% endtrans %}</th>
        <th>{% trans %}Refund date{% endtrans %}</th>
        <th>{% trans %}Refund reason{% endtrans %}</th>
        <th>{% trans %}Amount{% endtrans %}</th>
      </tr>
      {% for transaction in order.refund_transactions -%}
        <tr>
          <td class="center">{{ loop.index }}</td>
          <td class="center">{{ order.receipt_no }}</td>
          <td class="center">
            {% if transaction.refunded_at %}
              {{ transaction.refunded_at | longdate }}
            {%- endif %}
          </td>
          {%- if transaction.refund_description %}
            <td>{{ transaction.refund_description }}</td>
          {%- elif transaction.refunded_at %}
            <td>{% trans date=transaction.refunded_at|longdate %}Refunded on {{ date }}{% endtrans %}</td>
          {%- else %}
            <td>{% trans %}Refund{% endtrans %}</td>
          {%- endif %}
          <td class="total-amount center"><div id="total">{{ currency_symbol }} {{ transaction.amount }}</div></td>
        </tr>
      {%- endfor %}
      <tr>
        <td></td>
        <td colspan="3" class="total gray">{% trans %}Total refund{% endtrans %}</td>
        <td class="total gray center">{{ currency_symbol }} {{ order.refunded_amount }}</td>
      </tr>
    </table>
    {%- endif %}

    <div class="terms">
      <div>{{ org.details.get('refund_policy', '')|safe }}</div>
    </div>

  </div>
</body>

</html>
