<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='UTF-8'>  
  <title>Receipt</title>  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/receipt.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600" />
</head>

<body>
  <div class="wrapper">
    <h1 class="header">Cash Receipt</h1>
    
    <div class="company-details clearfix">  
      <div class="logo">
       <img src="https://hasgeek.com/static/img/hg-banner.png"/>
      </div> 

      <div class="address">
        <h2>HasGeek Learning Private Limited</h2>
        <p>141/142, 2nd cross, Pai Layout</p>
        <p>Hulimavu Gate, Bannerghatta Road</p>
        <p>Bangalore – 560076</p>
        <p>India</p>
        <p>CIN: U74900KA2015PTC083923</p>
        <p>PAN No: AADCH7324J</p>
        <p><a href="https://hasgeek.com/">https://hasgeek.com</a></p>
      </div>    
    </div>
    
    <div class="customer clearfix">
      <table class="cutomer-details">
        <tr>
          <th class="gray" colspan="2">Bill To</th>
        </tr>
        <tr>
          <td class="gray">Name</td>
          <td>{{ order.buyer_fullname }}</td>
        </tr>
        <tr>
          <td class="gray">Email</td>
          <td>{{ order.buyer_email }}</td>
        </tr>
        <tr>
          <td class="gray">Phone</td>
          <td>{{ order.buyer_phone }}</td>
        </tr>
      </table>

      <table class="details">
        <tr>
          <td class="gray">Receipt#</td>
          <td>{{ order.order_hash }}</td>
        </tr>
        <tr>
          <td class="gray">Date</td>
          <td>{{ order.paid_at | invoice_date('%d %b %Y') }}</td>
        </tr>
      </table>  
    </div>
    
    <table class="items">    
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Unit Cost</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Price</th>
      </tr>
      
      {% for ticket in order.line_items -%}
        {% if ticket.quantity > 0 %}
          <tr class="item-row">
            <td class="center">{{ ticket.item.title }}</td>
            <td class="item-description">{{ ticket.item.description|safe }}</td>
            <td class="center"><i class="fa fa-inr"></i>{{ ticket.base_amount }}</td>
            <td class="center">{{ ticket.quantity }}</td>
            <td class="center"><i class="fa fa-inr"></i>{{ ticket.discounted_amount }}</td>
            <td class="center"><i class="fa fa-inr"></i>{{ ticket.final_amount }}</td>
          </tr>
        {% endif %}
      {%- endfor %}
      
      <tr>
          <td colspan="3"></td>
          <td colspan="2" class="total gray">Total</td>
          <td class="total-amount gray center"><div id="total">&#8377; {{ order.get_amounts().final_amount }}</div></td>
      </tr>
    </table>
    
    <div class="terms">
      <h5 class="terms-heading">Terms &amp; Conditions</h5>
      <p class="terms-content">For terms of service and refund policy, please visit <a href="https://hasgeek.com/about/policy/">https://hasgeek.com/about/policy</a></p>
      <p class="terms-content">For further queries, please write to <a href="mailto:support@hasgeek.com">support@hasgeek.com</a></p>
    </div>
  
  </div>

</body>

</html>