{% extends "layout.html" %}
{% block titletags -%}
  <title>{{ config['SITE_TITLE'] }} by HasGeek</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block heading %}

{% endblock %}

{% block content %}
<h1>{{ config['SITE_TITLE'] }}</h1>

<p>All your HasGeek tickets - now one place!</p>
<div class="row section">
	<div class="span9">
		<table class="table">
		    <thead>
		        <tr>
		        	<th>Event</th>
		          	<th>When</th>
		          	<th>Where</th>
		          	<th>Available</th>
		          	<th class="num">Rate</th>
		          	<th>Select No.</th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for i in live_categories %}
		          <tr>
		          	<td><a href="{{ url_for('event_view', event=i.event.name) }}">{{ i.event.title }}</a></td>
		          	<td>{{ i.event.date|shortdate }}</td>
		          	<td>{{ i.event.short_venue }}</td>

		            <td>{{ i.title }} </td>
		            <td class="num">{{ i.price_after_tax|format_currency }}</td>
		            <td>{{ i.status }}</td>
		          </tr>
		        {% else %}
		          <tr>
		            <td colspan="7"><em>(No ticket categories recorded)</em></td>
		          </tr>
		        {% endfor %}
		    </tbody>
		</table>
	</div>
</div>


{% if 'siteadmin' in permissions -%}
<div class="row section">
	<div class="span9">
		<h3>BoxOffice Admin</h3>
		<a href="{{ url_for('event_new') }}"><button class="btn btn-primary">Add New Event</button></a>
		
			<table class="table">
			    <thead>
			        <tr>
			        	<th>Event</th>
			          	<th>When</th>
			          	<th>Where</th>
			        </tr>
			    </thead>

			    <tbody>
			        {% for e in events %}
			          <tr>
			          	<td><a href="{{ url_for('event_view', event=e.name) }}">{{ e.title }}</a></td>
			          	<td>{{ e.date|shortdate }}</td>
			          	<td>{{ e.short_venue }}</td>
			          </tr>
			        {% else %}
			          <tr>
			            <td colspan="3"><em>(No ticket categories recorded)</em></td>
			          </tr>
			        {% endfor %}
			    </tbody>
			</table>
	</div>
</div>
{% endif %}

{% endblock %}