{% extends "layout.html.jinja2" %}

{%- block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/admin.scss') }}"/>
{% endblock %}

{% block title %}{% if title %} {{ title }}{% else %}{% trans %}Admin{% endtrans %}{% endif %}{% endblock %}

{% block headline %}
{% endblock %}

{% block main -%}
  <div id="sidebar"></div>
  <div id="main-content-area"></div>
  <div id='form-view'></div>
{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    window.boxofficeAdmin = {};
    window.boxofficeAdmin.siteTitle = "{{ config['SITE_TITLE'] }}";
    window.boxofficeFirstLoad = true;
  </script>
  <script type="text/javascript" src="{{ asset_path('main_admin.js') }}"></script>
{% endblock %}
