{% extends "layout.html" %}

{%- block layoutheaders %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
{% endblock %}

{% block title %}{% if title %} {{ title }}{% else %}{% trans %}Admin{% endtrans %}{% endif %}{% endblock %}

{% block headline %}
{% endblock %}

{% block main -%}
  <div id="sidebar"></div>
  <div id="main-content-area"></div>
{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    window.boxofficeAdmin = {};
    window.boxofficeAdmin.siteTitle = "{{ config['SITE_TITLE'] }}";
  </script>
  <script src="/static/js/dist/bundle.js"></script>
{% endblock %}
