{% extends "layout.html.jinja2" %}
{% block title %}{{ org.title }}{% endblock title %}
{% block headerbox %}
{% endblock headerbox %}

{% block headline %}
{% endblock headline %}

{% block content %}
  <div class="org-header">
    {%- if org.details.get('logo') %}
      <div class="organization-logo">
       <img src="{{org.details.get('logo')}}" />
      </div>
    {%- endif %}
    <h1 class="item-collection-title">{{ order.menu.title }}</h1>
    <p class="text-center">{% trans number=order.receipt_no %}Receipt No: {{ number }}{% endtrans %}</p>
  </div>

  <div class="row" id="boxoffice-invoice">
    <p class="text-center" id="notify-msg"><span id="error-description">{% trans %}Loading…{% endtrans %} </span>
      {% trans support_email=org.details.get('support_email', '') -%}
        If this takes too long, please mail {{ support_email }} with your receipt number.
      {%- endtrans %}
    </p>
  </div>
{% endblock content %}

{% block footerscripts %}
  <script type="text/javascript" src="{{ asset_path('main_invoice.js') }}"></script>
{% endblock footerscripts %}
