{% extends "baseframe.html.jinja2" -%}

{%- block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="{{ built_asset('css/app.scss') }}"/>
{% endblock %}

{% block headerbox %}
  {% block hgnav %}
    {% macro site_title() %}
      <div class="page-header">
        <h1><a href="{{ url_for('index') }}">{{ config['SITE_TITLE'] }}</a></h1>
      </div>
    {% endmacro %}
    {% from "baseframe/components.html.jinja2" import hgnav with context %}
    {{ hgnav(site_title=site_title()) }}
  {% endblock %}
{% endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      {% block top_title %}<h1>{{ config['SITE_TITLE'] }}</h1>{% endblock %}
    </div>
  {%- endblock %}
{%- endblock %}

{% block main -%}
{% block basecontent -%}
  <div class="container" id="main-content">
  {% block content %}{% endblock %}
  </div>
{%- endblock %}
{%- endblock %}

{% block jquery -%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
  if (typeof jQuery === 'undefined')
    document.write('<script type="text/javascript" src="{{ url_for('baseframe.static', filename='js/jquery-2.2.4.min.js') }}"><\/script>');
</script>
{%- endblock %}
