{% extends "baseframe.html.jinja2" -%}

{%- block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="{{ manifest('css/app.scss') }}"/>
{% endblock layoutheaders %}

{% block headerbox %}
  {% block hgnav %}
    {% macro site_title() %}
      <div class="page-header">
        <h1><a href="{{ url_for('index') }}">{% trans %}Boxoffice{% endtrans %}</a></h1>
      </div>
    {% endmacro %}
    {% from "baseframe/components.html.jinja2" import hgnav with context %}
    {{ hgnav(site_title=site_title()) }}
  {% endblock hgnav %}
{% endblock headerbox %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      {% block top_title %}<h1>{% trans %}Boxoffice{% endtrans %}</h1>{% endblock top_title %}
    </div>
  {%- endblock headline %}
{%- endblock baseheadline %}

{% block main -%}
{% block basecontent -%}
  <div class="container" id="main-content">
  {% block content %}{% endblock content %}
  </div>
{%- endblock basecontent %}
{%- endblock main %}

{% block jquery -%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{%- endblock jquery %}
