<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='UTF-8'>
  <title>{% trans %}Ticket Cancellation{% endtrans %}</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Source Sans Pro",Arial,sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #333;
      background-color: #fff
    }

    a {
      text-decoration: none;
    }

    p {
      margin: 5px 0 10px;
    }

    .terms {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div>

    <p>{% trans buyer=order.buyer_fullname %}Hello {{ buyer }},{% endtrans %}</p>

    <p>{% trans number=order.invoice_no %}With reference to your order (Receipt No: {{ number }}), "{{ item_title }}" has been cancelled.{% endtrans %}</p>
    {%- if is_paid %}
      <p>{% trans %}A refund of {{ currency_symbol }} {{ refund_amount }} has been initiated. You should receive the refund in 2-5 days.{% endtrans %}</p>
    {%- endif %}

    <p class="footer">{% trans %}Thank you,{% endtrans %}</p>
    <p>{{ org.title }}</p>

  </div>
</body>

</html>
