<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ order.menu.title }}</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Source Sans Pro",Arial,sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #333;
      background-color: #fff
    }

    a {
      text-decoration: none;
    }

    p {
      margin: 5px 0 5px;
      font-size: 15px;
    }

    .content {
      margin-top: 15px;
    }

    .header {
      font-size: 25px;
      text-align: center;
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid #000;
    }

    .logo {
      float: left;
      max-width: 150px;
      margin-bottom: 10px;
    }

    .logo img {
      width: 100%;
    }

    .address {
      float: right;
    }

    .company-name {
      font-size: 20px;
      margin: 0 0 10px;
    }

    .customer {
      padding-top: 20px;
      clear: both;
    }

    table {
      border-collapse: collapse;
    }

    table td, table th {
      border: 1px solid #000;
      padding: 5px;
    }

    table td {
      font-size: 15px;
    }

    .center {
      text-align: center;
      vertical-align: top;
    }

    .customer-details {
      float: left;
      min-width: 250px;
      margin-bottom: 10px;
    }

    .details {
      float: right;
      margin-bottom: 20px;
    }

    .items {
      width: 100%;
      clear: both;
    }

    .item-description {
      max-width: 200px;
    }

    .gray {
      background-color: #eee;
    }

    .total, .total-amount {
      font-weight: 600;
    }

    .terms {
      margin-top: 20px;
    }

    .button {
      border-width: 0px 0px 3px;
      border-style: solid;
      border-radius: 5px;
      padding: 6px 12px;
      color: #fff;
      font-size: 15px;
      display: inline-block;
      background-color: #5BC0DE;
      border-color: #46B8DA;
      margin: 15px auto;
    }

    .invoice-btn {
      margin-left: 15px;
      background-color: #5CB85C;
      border-color: #4CAE4C;
    }

    .footer {
      margin-top: 15px;
    }

    .discount-policy {
      font-size: 85%;
      font-style: italic;
    }
  </style>
</head>

<body>
  <div>

    <p>{% trans buyer=order.buyer_fullname %}Hello {{ buyer }},{% endtrans %}</p>

    <p class="content">{% trans title=order.menu.title -%}
      Thanks for your interest in {{ title }}.
      Here is your order. To access the event, you must have a
      <a href="https://hasgeek.com/account">Hasgeek account</a>
      with the same email address.
    {%- endtrans %}</p>

    <p>
      <a class="button" href="{{ '{base_url}/order/{access_token}/ticket'.format(base_url=base_url, access_token=order.access_token) }}" target="_blank">{% trans %}Assign this ticket{% endtrans %}</a>
      {%- if order.paid_amount > 0 %}
        <a class="button invoice-btn" href="{{ '{base_url}/order/{access_token}/invoice'.format(base_url=base_url, access_token=order.access_token) }}" target="_blank">{% trans %}Get GST invoice{% endtrans %}</a>
      {%- endif %}
    </p>

    <h1 class="header">{% trans %}Cash Receipt{% endtrans %}</h1>

    <div class="company-details">
      {%- if org.details.get('logo') %}
        <div class="logo">
         <img src="{{ org.details.get('logo') }}"/>
        </div>
      {%- endif %}

      <div class="address">
        {%- if org.details.get('address') %}
          {{ org.details.get('address')|safe }}
        {%- endif %}
        {%- if org.details.get('cin') %}
          <p>{% trans %}CIN:{% endtrans %} {{ org.details.get('cin') }}</p>
        {%- elif org.details.get('llpin') %}
          <p>{% trans %}LLPIN:{% endtrans %} {{ org.details.get('llpin') }}</p>
        {%- endif %}
        {%- if org.details.get('pan') %}
          <p>{% trans PAN:{% endtrans %} {{ org.details.get('pan') }}</p>
        {%- endif %}
        {%- if org.details.get('service_tax_no') %}
          <p>{% trans %}Service Tax No:{% endtrans %} {{ org.details.get('service_tax_no') }}</p>
        {%- endif %}
        {%- if org.details.get('website') %}
          <p><a href="{{ org.details.get('website')|tojson }}">{{ org.details.get('website') }}</a></p>
        {%- endif %}
        <p><a href="mailto:{{ org.contact_email }}">{{ org.contact_email }}</a></p>
      </div>
    </div>

    <div class="customer">
      <table class="customer-details">
        <tr>
          <th class="gray" colspan="2">{% trans %}Bill To{% endtrans %}</th>
        </tr>
        <tr>
          <td class="gray">{% trans %}Name{% endtrans %}</td>
          <td>{{ order.buyer_fullname }}</td>
        </tr>
        <tr>
          <td class="gray">{% trans %}Email{% endtrans %}</td>
          <td>{{ order.buyer_email }}</td>
        </tr>
        <tr>
          <td class="gray">{% trans %}Phone{% endtrans %}</td>
          <td>{{ order.buyer_phone }}</td>
        </tr>
      </table>

      <table class="details">
        <tr>
          <td class="gray">{% trans %}Receipt#{% endtrans %}</td>
          <td>{{ order.invoice_no }}</td>
        </tr>
        <tr>
          <td class="gray">{% trans %}Date{% endtrans %}</td>
          <td>{{ order.paid_at | longdate }}</td>
        </tr>
      </table>
    </div>

    <table class="items">
      <tr>
        <th>{% trans %}Ticket No:{% endtrans %}</th>
        <th>{% trans %}Base Price{% endtrans %}</th>
        <th>{% trans %}Discount{% endtrans %}</th>
        <th>{% trans %}Final Price{% endtrans %}</th>
      </tr>

      {% for line_item in line_items -%}
        <tr>
          <td class="center" rowspan="2" valign="top">{{ line_item.line_item_seq }}</td>
          <td colspan="3">
            <span class="item-title">{{ line_item.ticket.title }}</span><br/>
            <span class="item-description">{{ line_item.ticket.description }}</span>
          </td>
        </tr>
        <tr>
          <td class="center">
            <p>{{ currency_symbol }} {{ line_item.base_amount }}</p>
          </td>
          <td class="center">
            <p>{{ currency_symbol }} {{ line_item.discounted_amount }}</p>
            {% if line_item.discount_policy %}
              <p class="discount-policy">{{ line_item.discount_policy.title }}</p>
            {% endif %}
          </td>
          <td class="center">
            <p>{{ currency_symbol }} {{ line_item.final_amount }}</p>
          </td>
        </tr>
        {% if line_item.is_cancelled %}
          <tr>
            <td class="center" rowspan="2" valign="top"></td>
            <td colspan="3">
               <span class="item-title">{% trans Refund:{% endtrans %} {{ line_item.ticket.title }}</span>
            </td>
          </tr>
          <tr>
            <td class="center"></td>
            <td class="center"></td>
            <td class="center">&#8722; {{ currency_symbol }} {{ line_item.final_amount }}</td>
          </tr>
        {% endif %}
      {%- endfor %}

      <tr>
          <td></td>
          <td colspan="2" class="total gray">{% trans %}Total{% endtrans %}</td>
          <td class="total-amount gray center"><div id="total">{{ currency_symbol }} {{ order.paid_amount }}</div></td>
      </tr>
    </table>

    <div class="terms">
      <div>{{ org.details.get('refund_policy', '')|safe }}</div>
      <p><a href="{{ '{base_url}/order/{access_token}/receipt'.format(base_url=base_url, access_token=order.access_token) }}" target="_blank">{% trans %}Print your cash receipt here.{% endtrans %}</a></p>
    </div>

    <p class="footer">{% trans %}Thank you,{% endtrans %}</p>
    <p>{{ org.title }}</p>

  </div>
</body>

</html>
