{% extends "layout.html.jinja2" %}
{% block title %}{{ org.title }}{% endblock %}
{% block headerbox %}
{% endblock %}

{% block headline %}
{% endblock %}

{% block content %}
  <div class="order">
    <div class="org-header">
      {%- if org.details.get('logo') %}
        <div class="organization-logo">
         <img src="{{org.details.get('logo')}}" />
        </div>
      {%- endif %}
      <h1 class="item-collection-title">{{order.item_collection.title}} Ticket Assignment</h1>
      <p class="item-collection-description">{{order.item_collection.description_text}}</p>
      <p class="text-center">Receipt No: {{order.invoice_no}}</p>
    </div>

    <div class="row" id="boxoffice-order">
      <p class="text-center" id="notify-msg">
        <span id="error-description">{% trans %}Loading.{% endtrans %} </span>
        {% trans support_email=org.details.get('support_email', '') %}
          If this takes too long, please mail {{ support_email }} with your receipt number.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    if (!('URLSearchParams' in window)) {
      var polyfill = document.createElement('script');
      polyfill.setAttribute('type', 'text/javascript');
      polyfill.setAttribute(
        'src',
        'https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.js'
      );
      document.head.appendChild(polyfill);
    }
  </script>
  <script src='{{ asset_path('main_order') | safe }}' type="text/javascript"></script>
{% endblock %}
