{% extends "layout.html" %}
{% block title %}{{ org.title }}{% endblock %}
{% block headerbox %}
{% endblock %}

{% block headline %}
{% endblock %}

{% block content %}
  <div class="order">

    <h1 class="header">{{order.item_collection.title}} Ticket Assignment</h1>
    <p class="item-collection-description">{{order.item_collection.description_text}}</p>
    <p class="text-center">Receipt No: {{order.invoice_no}}</p>

    <div class="clearfix">
      {%- if org.details.get('logo') %}
        <div class="organization-logo">
         <img src="{{org.details.get('logo')}}" />
        </div>
      {%- endif %}
    </div>
    
    <div class="row" id="boxoffice-order">
      <p class="text-center" id="notify-msg"><span id="error-description">Loading. </span>If this takes too long, please mail {{order.item_collection.organization.contact_email}} with your receipt number.</p>
      {%- raw %}
        <script id='boxoffice-ticket-template' type='text/ractive'>
          {{#line_items:line_item}}
            {{#if is_confirmed}}
              <div class="ticket col-sm-6 col-xs-12" id="item-{{ seq }}">
                <div class="heading">
                  <div class="ticket-type">
                    <p>{{ title }}</p>
                  </div>
                  <div class="ticket-edit">
                    {{#if assignee.id || isTicketAssigned}}
                      <span><i class="fa fa-user"></i><i class="fa fa-check"></i></span>
                      <span class="edit-btn" on-click="assign(event, event.keypath, true)"><i class="fa fa-edit"></i></span>
                    {{else}}
                      <span><i class="fa fa-user"></i><i class="fa fa-question"></i></span>
                    {{/if}}
                  </div>
                </div>
                <div class="content">
                  {{#if !toAssign}}
                    <div class="content-box clearfix" intro='fly:{"x":20,"y":"0"}'>
                      <div class="item-description">{{{ description }}}</div>
                      <p class="price center">&#8377;{{ final_amount }}</p>
                      {{#if assignee.id || isTicketAssigned}}
                        <p class="confirmation-msg"><i class="fa fa-check"></i> This ticket has been assigned to {{assignee.fullname}}</p>
                      {{/if}}
                      <div class="assign-form-wrapper">
                        <form class="assignee-form" role="form" name="assignee-form">
                        {{#if assignee.id || isTicketAssigned}}
                            <p class="assign-form-title">Update attendee details</p>
                            <div class="text-center continue-btn-wrapper">
                              <button class="boxoffice-button boxoffice-button-action" on-click="assign(event, event.keypath, true)">Continue</button>
                            </div>
                        {{else}}
                            <p class="assign-form-title">Assign this ticket</p>             
                            <div>
                              <label class="radio-inline">
                                <input type="radio" name="{{.assignment}}" value="self" checked>
                                Self
                              </label>
                              <label class="radio-inline">
                                <input type="radio" name="{{.assignment}}" value="other">
                                Other
                              </label>
                            </div>
                            <div class="text-center continue-btn-wrapper">
                              <button class="boxoffice-button boxoffice-button-action" on-click="assign(event, event.keypath, false)">Continue</button>
                            </div>
                          {{/if}}
                        </form>
                      </div>
                    </div>
                  {{else}}
                    <div class="content-box clearfix" intro='fly:{"x":20,"y":"0"}'>
                      <h4 class="text-center attendee-form-title">Please fill the attendee details</h4>   
                      <form class="attendee-form" role="form" name="attendee-form-{{seq}}" id="attendee-details-{{seq}}"> 
                          <div class="group">   
                            <input class="group-input {{#filled || assignee.fullname}}filled{{/}}" type="text" name="fullname" value="{{assignee.fullname}}" on-blur="inputFieldEdit(event, event.keypath)">
                            <span class="bar"></span>
                            <label class="group-label">Fullname</label>
                            {{#assignee.errormsg.fullname}}<p class="form-error-msg">{{ assignee.errormsg.fullname }}</p>{{/}}
                          </div>
                            
                          <div class="group">  
                            <input class="group-input {{#filled || assignee.email}}filled{{/}}" type="text" name="email" value="{{assignee.email}}" on-blur="inputFieldEdit(event, event.keypath)">
                            <span class="bar"></span>
                            <label class="group-label">Email</label>
                            {{#assignee.errormsg.email}}<p class="form-error-msg">{{ assignee.errormsg.email }}</p>{{/}}
                          </div>

                          <div class="group">      
                            <input class="group-input {{#filled || assignee.phone}}filled{{/}}" type="text" name="phone" value="{{assignee.phone}}" on-blur="inputFieldEdit(event, event.keypath)">
                            <span class="bar"></span>
                            <label class="group-label">Phone</label>
                            {{#assignee.errormsg.phone}}<p class="form-error-msg">{{ assignee.errormsg.phone }}</p>{{/}}
                          </div>

                          {{#assignee_details: field}}
                            {{#if field_type === 'string'}}
                              <div class="group">  
                                <input class="group-input {{#filled || assignee.details[field]}}filled{{/}}" type="text" name="{{field}}" value="{{assignee.details[field]}}" on-blur="inputFieldEdit(event, event.keypath)">
                                <span class="bar"></span>
                                <label class="group-label">{{label}}</label>
                              </div>
                            {{elseif field_type === 'select'}}
                              <div class="group-select">
                                <p class="field-title filled">{{label}}</p>
                                <select name="{{field}}" value="{{assignee.details[field]}}">
                                  {{#options: option}}
                                    <option value="{{options[option]}}">{{options[option]}}</option>
                                  {{/options}}
                                </select>
                              </div>
                            {{elseif field_type === 'textbox'}}
                              <div class="group">
                                <label class="field-title">{{label}}</label>
                                <textarea class="form-control" name="{{field}}" value="{{assignee.details[field]}}"></textarea>
                              </div>
                            {{/if}}
                          {{/}}
                          <div class="assign-btn-wrapper">
                            <button type="button" class="boxoffice-button boxoffice-button-info" on-click="viewTicket(event, event.keypath, seq)">Back</button>
                            <button type="submit" class="boxoffice-button boxoffice-button-action" on-click="addAttendeeDetails(event, event.keypath, seq, id)" {{#assigningTicket}}disabled{{/}}>
                                {{#if assignee.id || isTicketAssigned}}Update{{else}}Assign ticket{{/if}}
                                {{#assigningTicket}}<i class="fa fa-spinner fa-spin" intro='fly:{"x":0,"y":"0"}'>{{/}}
                            </button>
                          </div>
                        {{#errorMsg}}
                            <p class="error-msg">{{ errorMsg }}</p>
                        {{/}}
                      </form>
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/line_item}}
          {{#line_items:line_item}}
            {{#if is_cancelled}}
              <div class="ticket col-sm-6 col-xs-12" id="item-{{ seq }}">
                <div class="heading">
                  <div class="ticket-type">
                    <p>{{ title }}</p>
                  </div>
              </div>
              <div class="content">
                <div class="content-box cancelled-ticket clearfix">
                  <div class="item-description">{{{ description }}}</div>
                  <p class="price center">&#8377;{{ final_amount }}</p>
                  {{#if assignee.id}}
                    <p class="confirmation-msg"><i class="fa fa-check"></i> This ticket has been assigned to {{assignee.fullname}}</p>
                  {{/if}}
                  <div class="cancel-msg">
                    <p>Cancelled on {{ cancelled_at }}</p>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/line_item}}
        </script>
      {%- endraw %}
    </div>

  
  </div>
{% endblock %}
{% block footerscripts %}
  <script src='/static/js/views/order.js'></script>
{% endblock %}
