<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ org.title }}</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Source Sans Pro",Arial,sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #333;
      background-color: #fff
    }

    a {
      text-decoration: none;
    }

    p {
      margin: 5px 0 10px;
    }

    .button {
      border-width: 0px 0px 3px;
      border-style: solid;
      border-radius: 5px;
      padding: 6px 12px;
      color: #fff;
      font-size: 15px;
      display: inline-block;
      background-color: #5BC0DE;
      border-color: #46B8DA;
    }
  </style>
</head>

<body>
  <div>

    <p>Hello {{ order.buyer_fullname }},</p>

    <p>{%- if item_collection_title %}{{ item_collection_title }} is another day away. {% endif %}We need a few more details before we can print your badge.</p>

    <p>I manage the check-in counter and our ticketing software. Please respond now so we can avoid a queue at the venue.</p>

    <p><a class="button" href={{"{base_url}/order/{access_token}/ticket".format(base_url=base_url, access_token=order.access_token)}} target="_blank" >Fill details</a></p>

    <p>
      To access the event online, you must have a
      <a href="https://hasgeek.com/account">Hasgeek account</a>
      with a verified email address matching your ticket.
    </p>

    <p>See you at the event!</p>

    {%- if team_member %}<p>{{ team_member }}</p>{%- endif %}
    <p>For {{ org.title }}</p>

  </div>
</body>

</html>
