{%raw%}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<div class="payment-stages-wrapper">
  {{#tabs:tab}}
    {{#if id === 'boxoffice-selectItems' && id === activeTab}}
      <div id='{{id}}' class="boxoffice-section ticket-selection-content boxoffice-clearfix" intro-outro='fly:{"x":0,"y":"0"}'>
        {{#section.categories}}
          <div id="{{name}}" class="tickets">
            <div>
            {{#tickets}}{{# { ticket: . } }}
              {{#order.line_items}} {{# { line_item: . } }}
                {{#if line_item.ticket_name === ticket.name }}
                  <div class="ticket-booking boxoffice-clearfix {{#line_item.quantity}}ticket-selected{{/}}" id="{{line_item.ticket_name}}">
                    <div class="ticket-details">
                      <p class="ticket-title">{{ line_item.ticket_title }}</p>
                      <div class="ticket-description">{{{ line_item.ticket_description }}}</div>
                    </div>
                    <div class="ticket-price-qty">
                      {{#if line_item.is_available}}
                        {{#if line_item.quantity >= line_item.quantity_available}}
                          <p class="few-ticket"><span class="available-count">Only {{line_item.quantity_available}} available</span></p>
                        {{elseif line_item.quantity_available < 5}}
                          <p class="few-ticket"><span>Only a few tickets left</span></p>
                        {{/if}}
                        {{#line_item.discount_policies}}
                          <div class="discount-box">
                            {{#if is_automatic || activated || pre_applied }}
                              <p class="discount {{#activated}}applied{{/}}">
                                <faicon icon='gift-solid' baseline=true css_class='applied {{#if !activated && !isLoadingFail}}boxoffice-hidden{{/if}}'></faicon> {{ title }}  {{#if percentage}}<span>- {{ percentage }}% off</span>{{/if}}
                              </p>
                            {{/if}}
                          </div>
                        {{/line_item.discount_policies}}
                      {{else}}
                        <div class="sold-out-wrapper" intro='fly:{"x":100,"y":"0"}'>
                          <p class="sold-out">Sold out</p>
                        </div>
                      {{/if}}
                    </div>
                  </div>
                {{/if}}
              {{/}}{{/order.line_items}}
            {{/}}{{/tickets}}
            </div>
          </div>
        {{/section.categories}}
        {{#refund_policy}}
          <div class="policy">
            <p class="policy-title">Cancellation and transfer</p>
            {{{refund_policy}}}
          </div>
        {{/}}
        <div class="proceed-button-wrapper" intro='fly:{"x":200,"y":"0"}'>
          <div class="ticket-total {{#loadingPrice}}grey-out{{/}} boxoffice-clearfix">
            {{#loadingPrice && !isLoadingFail}}
              <div class="loader"><faicon icon='spinner' icon_size='headline', baseline=true></faicon></div>
            {{/}}
            <p class="price">Total: <span class="final-amount">&#8377;{{ order.final_amount }}</span></p>
          </div>
          {{#order.readyToCheckout}}
            <button id="stage1-proceed" class="boxoffice-button boxoffice-button-action" on-click="confirmOrder(event)" {{#loadingOrder}}disabled{{/}}>buy now {{#loadingOrder}}<faicon icon='spinner' icon_size='caption', baseline=true intro='fly:{"x":0,"y":"0"}'></faicon>{{/}}</button>
          {{/order.readyToCheckout}}
        </div>
        {{#errorMsg }}
          <p class="stage-error-msg">{{ errorMsg }}</p>
        {{/}}
      </div>
    {{elseif id === 'boxoffice-payment' && id === activeTab}}
      {{#loadingPaymentConfirmation}}
        <div class="loader"><faicon icon='spinner' icon_size='display1', baseline=true></faicon></div>
      {{/}}
      <div id='{{id}}' class="boxoffice-section boxoffice-clearfix" intro='fly:{"x":0,"y":"0"}'>
        <form role="form" name="buyer-form" class="boxoffice-form clearfix" id="boxoffice-buyer-form">
          <p class="buyer-form-title">Billing Details</p>
          <div class="group">
            <input class="group-input {{#buyer.fullname}}filled{{/}}" type="text" name="fullname" value="{{buyer.fullname}}">
            <label class="group-label" for="fullname">Name</label>
            {{#errormsg.fullname}}<p class="form-error-msg">{{ errormsg.fullname }}</p>{{/}}
          </div>
          <div class="group">
            <input class="group-input {{#buyer.email}}filled{{/}}" type="text" name="email" value="{{buyer.email}}">
            <label class="group-label" for="email">Email</label>
            {{#errormsg.email}}<p class="form-error-msg">{{ errormsg.email }}</p>{{/}}
          </div>
          <div class="group">
            <input class="group-input {{#buyer.phone}}filled{{/}}" type="text" name="phone" value="{{buyer.phone}}">
            <label class="group-label" for="phone">Phone</label>
            {{#errormsg.phone}}<p class="form-error-msg">{{ errormsg.phone }}</p>{{/}}
          </div>
          <div class="checkout-confirmation">
            <p class="summary">Booking Summary</p>
            {{#order.line_items}} {{# { line_item: . } }}
              {{#if line_item.quantity > 0 }}
                <div class="item-summary">
                  <p class="booked-ticket-title"><faicon icon='ticket-alt' icon_size='title' baseline=false css_class='ticket-icon'></faicon>{{ line_item.ticket_title }}</p>
                  <p class="booked-ticket-qty">Qty {{ line_item.quantity }} &times; &#8377;{{line_item.base_price}}</p>
                  {{#line_item.discounted_amount}}
                    <p class="booked-ticket-qty">Discount &#8377;{{line_item.discounted_amount}}</p>
                  {{/line_item.discounted_amount}}
                  {{#line_item.discount_policies}}
                    {{#if activated}}
                    <p class="discount-applied">Applied {{ title }}</p>
                    {{/if}}
                  {{/line_item.discount_policies}}
                  <p class="booked-ticket-qty">Subtotal &#8377;{{line_item.final_amount}}</p>
                </div>
              {{/if}}
            {{/}}{{/order.line_items}}
            <div class="booking-summary">
              <p class="booking-price">Amount Payable <span class="booking-amount"><b>&#8377;{{ order.final_amount }}</b></span></p>
            </div>
          </div>
          <div class="proceed-button-wrapper">
            <button class="boxoffice-button boxoffice-button-info left-btn-margin" type="button" on-click="selectItems(event)">Edit order</button>
            <button type="submit" class="boxoffice-button boxoffice-button-action" {{#loadingOrder}}disabled{{/}}>
              Checkout {{#loadingOrder}}<faicon icon='spinner' icon_size='caption', baseline=true intro='fly:{"x":0,"y":"0"}'></faicon>{{/}}
            </button>
          </div>
          {{#errorMsg}}
            <div class="stage-error-msg">{{{ errorMsg }}}</div>
          {{/}}
        </form>
      </div>
    {{elseif id === 'boxoffice-invoice' && id === activeTab}}
      <div id='{{id}}' class="boxoffice-section clearfix" intro='fly:{"x":600,"y":"0"}'>
        <div class="confirmation-icon">
          <faicon icon='check-circle-solid' icon_size='display1', baseline=true, css_class='confirmation-icon'></faicon>
        </div>
        <p class="confirmation-header">Thank you for your order!</p>
        <div class="confirmation-msg">
          <p>We’ve mailed you the <a href="{{ buyer.cashReceiptURL }}" target="_blank">cash receipt</a>.</p>
          <p>To complete your registration, we need a few more details.</p>
          <button class="boxoffice-button boxoffice-button-info" on-click="proceedToFillAttendeeDetails(event)">Continue</button>
        </div>
        <div class="confirmation-msg">
          <p>If you need a GST invoice, please fill in the details below.</p>
        </div>
        <form role="form" name="invoice-details-form" id="boxoffice-invoice-form" class="boxoffice-form top-margin">
          {{#invoice}}
            <div class="group">
              <input class="group-input {{#buyer_taxid}}filled{{/}}" type="text" name="buyer_taxid" value="{{ buyer_taxid }}">
              <label class="group-label" for="buyer_taxid">GSTIN</label>
              {{#errormsg.buyer_taxid}}<p class="form-error-msg">{{ errormsg.buyer_taxid }}</p>{{/}}
            </div>
            <div class="group">
              <input class="group-input {{#invoicee_name}}filled{{/}}" type="text" name="invoicee_name" value="{{ invoicee_name }}">
              <label class="group-label" for="invoicee_name">Name</label>
              {{#errormsg.invoicee_name}}<p class="form-error-msg">{{ errormsg.invoicee_name }}</p>{{/}}
            </div>
            <div class="group">
              <input class="group-input {{#invoicee_company}}filled{{/}}" type="text" name="invoicee_company" value="{{ invoicee_company }}">
              <label class="group-label" for="invoicee_company">Company</label>
              {{#errormsg.invoicee_company}}<p class="form-error-msg">{{ errormsg.invoicee_company }}</p>{{/}}
            </div>
            <div class="group">
              <input class="group-input {{#invoicee_email}}filled{{/}}" type="text" name="invoicee_email" value="{{ invoicee_email }}">
              <label class="group-label" for="invoicee_email">Email</label>
              {{#errormsg.invoicee_email}}<p class="form-error-msg">{{ errormsg.invoicee_email }}</p>{{/}}
            </div>
            <div class="group">
              <input class="group-input {{#street_address_1}}filled{{/}}" type="text" name="street_address_1" value="{{ street_address_1 }}">
              <label class="group-label" for="street_address_1">Street address 1</label>
              {{#errormsg.street_address_1}}<p class="form-error-msg">{{ errormsg.street_address_1 }}</p>{{/}}
            </div>
            <div class="group">
              <input class="group-input {{#street_address_2}}filled{{/}}" type="text" name="street_address_2" value="{{ street_address_2 }}">
              <label class="group-label" for="street_address_2">Street address 2</label>
              {{#errormsg.street_address_2}}<p class="form-error-msg">{{ errormsg.street_address_2 }}</p>{{/}}
            </div>
            <div class="group-select inline-group left-group">
              <select name="country_code" value="{{country_code}}">
                {{#utils.countries}} {{# { country: . } }}
                  <option value="{{ country.code }}">{{ country.name }}</option>
                {{/}}{{/utils.countries}}
              </select>
              {{#errormsg.country_code}}<p class="form-error-msg">{{ errormsg.country_code }}</p>{{/}}
            </div>
            {{#if country_code == "IN"}}
              <div class="group-select inline-group right-group">
                <select name="state_code" value="{{ state_code }}">
                  <option value="">Select a state</option>
                  {{#utils.states}} {{# { currentState: . } }}
                    <option value="{{ currentState.code }}">{{ currentState.name }}</option>
                  {{/}}{{/utils.states}}
                </select>
                {{#errormsg.state_code}}<p class="form-error-msg">{{ errormsg.state_code }}</p>{{/}}
                <input class="boxoffice-hidden" type="radio" name="{{ state }}" value="" checked>
              </div>
            {{else}}
              <div class="group inline-group right-group">
                <input class="group-input right-group {{#state}}filled{{/}}" type="text" name="state" value="{{ state }}">
                <label class="group-label" for="state">State</label>
                {{#errormsg.state}}<p class="form-error-msg">{{ errormsg.state }}</p>{{/}}
                <input class="boxoffice-hidden" type="radio" name="{{ state_code }}" value="" checked>
              </div>
            {{/if}}
            <div class="group inline-group left-group">
              <input class="group-input {{#city}}filled{{/}}" type="text" name="city" value="{{ city }}">
              <label class="group-label" for="city">City</label>
              {{#errormsg.city}}<p class="form-error-msg">{{ errormsg.city }}</p>{{/}}
            </div>
            <div class="group inline-group right-group">
              <input class="group-input right-group {{#postcode}}filled{{/}}" type="text" name="postcode" value="{{ postcode }}">
              <label class="group-label" for="postcode">Pincode</label>
              {{#errormsg.postcode}}<p class="form-error-msg">{{ errormsg.postcode }}</p>{{/}}
            </div>
          {{/}}
          <div class="proceed-button-wrapper">
            <button type="submit" class="boxoffice-button boxoffice-button-action" on-click="submitInvoiceDetails(event)" {{#submittingInvoiceDetails}}disabled{{/}}>
              Submit {{#submittingInvoiceDetails}}<faicon icon='spinner' icon_size='subhead', baseline=true intro='fly:{"x":0,"y":"0"}'></faicon>{{/}}
            </button>
          </div>
          {{#errorMsg}}
            <div class="stage-error-msg">{{{ errorMsg }}}</div>
          {{/}}
        </form>
        <div class="confirmation-msg">
          <p>Don't have a GST registration yet? No problem, you can fill these details later.<p>
        </div>
      </div>
    {{elseif id === 'boxoffice-attendee-details' && id === activeTab}}
      <div id='{{id}}' class="boxoffice-section clearfix" intro='fly:{"x":600,"y":"0"}'>
        <div class="confirmation-img">
          <img src="https://images.hasgeek.com/embed/file/c358d0930d00425da8a8f159e57b0138" />
        </div>
        <p class="confirmation-header">Almost there!</p>
        <div class="confirmation-msg">
          {{#if invoice.isFilled}}<p>Thank you for submitting the details, we will mail you the invoice shortly. {{/if}}
          <p>To complete your registration, we need a few more details.</p>
        </div>
        <div class="receipt-btn-wrapper">
          <a href="{{ buyer.attendeeAssignmentURL }}" target="_blank" class="boxoffice-button boxoffice-button-action" on-click="fire('eventAnalytics','fill attendee details', 'attendee details')">Fill attendee details</a>
        </div>
        {{#refund_policy}}
          <div class="policy">
            <p class="policy-title">Cancellation and transfer</p>
            {{{refund_policy}}}
          </div>
        {{/}}
      </div>
    {{/if}}
  {{/}}
</div>
{%endraw%}
<style>
  .fa5-icon {
    width: 14px;
    height: 14px;
    fill: currentColor
  }
  .fa5--align-baseline {
    position: relative;
    top: .09em
  }
  .fa5-icon--caption {
    width: 12px;
    height: 12px
  }
  .fa5-icon--body {
    width: 14px;
    height: 14px
  }
  .fa5-icon--subhead {
    width: 16px;
    height: 16px
  }
  .fa5-icon--title {
    width: 18px;
    height: 18px
  }
  .fa5-icon--heading {
    width: 20px;
    height: 20px
  }
  .fa5-icon--headline {
    width: 24px;
    height: 24px
  }
  .fa5-icon--display1 {
    width: 32px;
    height: 32px
  }
  #boxoffice-widget {
    max-width: 1000px;
    margin: auto;
    padding-top: 16px;
  }
  .boxoffice-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1f2d3d;
    background-color: #fff;
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: .03em;
    position: relative;
    overflow: hidden;
  }
  .boxoffice-button-action {
    color: #fff;
    background-color: #0f73ed;
  }
  .boxoffice-button-action:hover,
  .boxoffice-button-action:active  {
    color: #fff;
    background-color: #2481f1;
    text-decoration: none;
  }
  .boxoffice-button-info {
    color: #fff;
    background-color: #424242;
  }
  .boxoffice-button-info:hover,
  .boxoffice-button-info:active {
    color: #fff;
    background-color: #4f4f4f;
    text-decoration: none;
  }
  .boxoffice-clearfix:after, .boxoffice-clearfix:before {
    display: table;
    content: " ";
    clear: both;
  }
  .boxoffice-hidden {
    display: none !important;
  }
  .boxoffice-section {
    width: 100%;
    padding: 0 24px 24px;
    border-top-width: 0;
    min-height: 450px;
    margin-top: -12px;
    box-sizing: border-box;
  }
  .category-heading {
    background-color: #f1f1f1;
    color: #1f2d3d  ;
    position: relative;
    font-size: 20px;
    width: auto;
    display: inline-block;
    margin: 0 0 0 -16px;
    padding: 16px 74px 16px 16px;
    z-index: 1;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
  }
  .category-heading:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    border-style: solid;
    border-color: #f1f1f1 #f9f9f9 #f1f1f1 #f1f1f1;
    border-width: 25px;
    z-index: 2;
    background-color: #FFF;
  }
  .ticket-booking {
    padding: 8px 16px;
    margin: 0 -16px;
  }
  .ticket-details {
    width: 100%;
    word-break: break-word;
    margin-top: 8px;
    width: 100%;
  }
  .ticket-title {
    font-size: 24px;
    padding-bottom: 16px;
    margin: 8px 0;
    font-weight: bold;
    border-bottom: 1px solid rgba(77, 87, 99, 0.1);
  }
  .discount {
    color: #21B685;
    padding: 16px;
    background: rgba(225, 253, 228, 0.75);
    clear: both;
    border-radius: 8px;
    overflow-x: hidden;
  }
  .valid-upto {
    font-style: italic;
    margin: 4px 0;
    color: #4d5763;
    font-size: 14px;
  }
  .ticket-description p {
    font-size: 16px;
    margin: 8px 0;
  }
  .ticket-description ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1em;
  }
  .ticket-description .fa {
    padding-right: 4px;
  }
  .few-ticket {
    margin: 0 0 4px;
    width: 200px;
    font-size: 16px;
    font-style: italic;
  }
  .available-count {
    color: #e42c42;
  }
  .ticket-price-qty {
    margin-top: 16px;
    position: relative;
    min-width: 190px;
    width: 100%;
  }
  .price-details-wrapper {
    margin: 0 0 8px;
    line-height: 1;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .ticket-price-wrapper {
    position: relative;
  }
  .ticket-price {
    font-size: 24px;
    margin: 0;
    padding-right: 16px;
  }
  .discount-price {
    position: absolute;
    bottom: 23px;
    padding: 0;
    line-height: 1;
  }
  .strike {
    text-decoration: line-through;
    color: #aaa;
  }
  .multiplier {
    padding-right: 16px;
    font-size: 18px;
  }
  .ticket-qty-wrapper {
    border-radius: 8px;
    outline: medium none;
    color: #1f2d3d;
    padding: 0;
    overflow: hidden;
    background: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .ticket-qty {
    min-width: 32px;
    border: 0px none;
    background: #fff;
    -webkit-text-fill-color: #1f2d3d;
    color: #1f2d3d;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .increment, .decrement {
    font-size: 18px;
    background-color: #f1f1f1;
    height: 100%;
    border: 0;
    padding: 8px 16px;
    vertical-align: top;
  }
  .increment:focus, .decrement:focus {
    outline:0;
  }
  .discount-amount, .subtotal {
    margin: 4px 0;
  }
  .sold-out {
    color: #fff;
    background: #e42c42;
    width: 100px;
    border-radius: 0 10px 0 10px;
    padding: 4px;
    margin: 0;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-weight: bold;
  }
  .item-amount {
    clear: both;
    color: #888;
    margin: 10px 0 0;
  }
  .item-amount .rupee-sign {
    padding-left: 4px;
  }
  .ticket-total {
    clear: both;
    width: 100%;
    max-width: 270px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .grey-out {
    opacity: 0.5;
  }
  .policy {
    clear: both;
    padding: 16px;
    background: #f1f1f1;
    border-radius: 16px;
  }
  .policy-title {
    font-size: 18px !important;
    font-weight: 600;
    line-height: 24px;
  }
  .policy p {
    margin: 4px 0;
  }
  .loader {
    position: absolute;
    right: 0px;
    z-index: 1000;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .stage-error-msg {
    font-size: 0.9em;
    clear: both;
    margin: 0px 0 10px;
    color: #b94a48;
  }
  .boxoffice-form {
    max-width: 650px;
    margin: auto;
  }
  .boxoffice-form.top-margin {
    margin-top: 25px;
  }
  .boxoffice-form .group {
    position: relative;
    margin-bottom: 45px;
    clear: both;
  }
  @media(min-width: 1200px) {
    .boxoffice-form .inline-group.left-group {
      width: 45%;
      float: left;
      clear: both;
    }
    .boxoffice-form .inline-group.right-group {
      width: 45%;
      float: right;
      clear: none;
    }
  }
  .boxoffice-form .group-input {
    padding: 8px 8px 8px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c0ccda;
    box-shadow: none;
    background: transparent;
  }
  .boxoffice-form .group-input:focus {
    outline:none;
  }
  .boxoffice-form .group-label {
    color: #c0ccda;
    margin: 0;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 6px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .boxoffice-form .group-input:focus ~ .group-label,
  .boxoffice-form .group-input.filled ~ .group-label {
    top: -16px;
    color: #0f73ed;
  }
  .boxoffice-form .group-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px 10px 10px 1px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0f73ed;
    position: relative;
    top: 2px;
  }
  .boxoffice-form .group-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  .boxoffice-form .group-select select:focus{
    outline: 0;
  }
  .boxoffice-form .group-select{
    position: relative;
    margin-bottom: 45px;
  }
  .boxoffice-form .group-select:after {
    position: absolute;
    top: 22px;
    right: 2px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #757575;
    pointer-events: none;
  }
  .boxoffice-form .form-help-text {
    font-size: 0.9em;
    color: #aaa;
    margin: 10px 0;
    position: relative;
    top: -40px;
    left: 5px;
  }
  .boxoffice-form .form-error-msg {
    color: #fff;
    margin: 8px 0 0;
    background: #f04e45;
    border: 1px solid rgba(240,78,69,0.2);
    padding: 8px 16px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    width: auto;
  }
  .boxoffice-form .form-error-msg::before {
    display: block;
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-bottom: 6px solid #f04e45;
    top: -13px;
    left: 20px;
  }
  .buyer-form-title, .summary {
    text-align: center;
    font-size: 16px;
    margin: 16px 0;
  }
  .item-summary {
    border-bottom: 1px dotted #CCC;
    padding: 4px 0;
  }
  .booked-ticket-title {
    font-size: 16px;
  }
  .booked-ticket-title .ticket-icon {
    padding-right: 8px;
    vertical-align: text-bottom;
  }
  .booked-ticket-qty,
  .discount-applied {
    text-align: right;
    margin-bottom: 5px;
  }
  .discount-applied {
    color: green;
  }
  .price {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
  }
  .proceed-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  .booking-summary {
     margin: 16px 0;
  }
  .booking-price {
    margin: 0;
    font-size: 20px;
  }
  .booking-amount {
    float: right;
  }
  .left-btn-margin {
    margin-right: 8px;
  }
  .confirmation-icon {
    color: green;
    padding: 16px 0 0;
    text-align: center;
    margin: 0 auto;
  }
  .confirmation-img {
    width: 160px;
    margin: 24px auto;
  }
  .confirmation-img img {
    width: 100%;
  }
  .confirmation-header {
    font-size: 24px;
    color: green;
    text-align: center;
    margin: 8px 0 0;
  }
  .confirmation-msg {
    font-size: 16px;
    text-align: center;
    clear: both;
    max-width: 800px;
    margin: 16px auto;
  }
  .confirmation-msg p {
    margin: 8px 0;
  }
  .name {
    text-align: left;
    margin: 0;
  }
  .receipt-btn-wrapper {
    text-align: center;
    margin: 8px 8px 24px;
  }
</style>
