<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ org.title }}</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Source Sans Pro",Arial,sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #333;
      background-color: #fff
    }

    a {
      text-decoration: none;
    }

    p {
      font-size: 15px;
      margin: 5px 0;
    }

    .text-center {
      text-align: center;
    }

    .wrapper {
      background: #EBD3A3;
      text-decoration: none;
      padding: 10px;
      max-width: 500px;
      margin: 20px 0;
      border-radius: 5px;
    }

    .ticket-table {
      width: 100%;
      border-collapse: collapse;
    }

    .ticket-table td {
      border: 2px solid #cf6f01;
    }

    .ticket-title-wrapper {
      max-width: 180px;
      padding: 10px 10px 0;
    }

    .ticket-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .receipt-no {
      color: #941f2d;
      font-size: 13px;
      font-style: italic;
      margin: 5px 0 0;
    }

    .details-wrapper {
      padding: 10px;
    }
  </style>
</head>

<body>
  <div>

    <p>Hello {{ old_assignee.fullname }},</p>

    <div class="wrapper">
      <table class="ticket-table">
        <tr>
          <td class="ticket-title-wrapper">
            <p class="text-center ticket-title">{{ line_item.item.title }}</p>
            <p class="receipt-no">Receipt No: {{ order.invoice_no }}</p>
          </td>

          <td class="details-wrapper">
          <p>
            {% if current_auth.user %}
              {% trans new_assignee=new_assignee.fullname, current_user=current_auth.user.fullname %}
                Your ticket has been transfered to {{ new_assignee }}, by {{ current_user }}.
              {% endtrans %}
            {% else %}
              {% trans new_assignee=new_assignee.fullname %}
                Your ticket has been transfered to {{ new_assignee }}.
              {% endtrans %}
            {% endif %}
          </p>

          <p>
            {% if old_assignee.email != order.buyer_email %}
              {% trans buyer_email=order.buyer_email, buyer_fullname=order.buyer_fullname %}
                If you believe this was because of an error, please reach out to <a href="mail:{{ buyer_email }}">{{ buyer_fullname }}</a>.
              {% endtrans %}
            {% else %}
              {% trans %}
                If you believe this was because of an error, please reach out to <a href="mail:support@hasgeek.com">support@hasgeek.com</a>.
              {% endtrans %}
            {% endif %}
          </p>
          </td>
        </tr>
      </table>
    </div>

    <div class="terms-content">{{ org.details.get('ticket_faq', '') | safe }}</div>

    <p>{% trans %}Thank you{% endtrans %},</p>
    <p>{{ org.title }}</p>

  </div>
</body>

</html>
