*.pyc
.sass-cache
error.log
instance/settings.py
instance/production.py
instance/development.py
instance/testing.py
.webassets-cache
baseframe-packed.js
baseframe-packed.css
boxoffice/static/js/node_modules/
boxoffice/static/js/npm-debug.log
.vscode
.coverage
boxoffice/static/gen/*
*.sql
*.sql.gz
*.sql.bz2
.pytest_cache
yarn.lock
