*.pyc
.sass-cache
error.log
instance/settings.py
instance/production.py
instance/development.py
instance/testing.py
.webassets-cache
baseframe-packed.js
baseframe-packed.css
.vscode
.coverage
boxoffice/static/gen/*
*.sql
*.sql.gz
*.sql.bz2
node_modules
boxoffice/static/build
.pytest_cache
