*.pyc
.sass-cache
error.log
error.log.*
instance/settings.py
instance/production.py
instance/development.py
instance/testing.py
.webassets-cache
baseframe-packed.js
baseframe-packed.css
.vscode
.coverage
.python-version
boxoffice/static/gen/*
*.sql
*.sql.gz
*.sql.bz2
node_modules
boxoffice/static/build
.pytest_cache
boxoffice/static/img/fa5-packed.svg
monkeytype.sqlite3
.env
.env.testing
.envrc
.DS_Store
.venv
