language: python
python:
  - 2.7
cache:
  directories:
    - $HOME/.cache/pip
before_script:
  - sudo -- sh -c "echo '127.0.0.1  boxoffice.travis.dev' >> /etc/hosts"
  - psql -c 'create database boxoffice_testing;' -U postgres
install:
  - pip install -U pip wheel
  - pip install -r test_requirements.txt
  - pip install -r requirements.txt
  - pip install https://github.com/hasgeek/coaster/archive/master.zip
  - npm install casperjs
  - ./manage.py dbconfig | sudo -u postgres psql boxoffice_testing
env:
  - FLASK_ENV=testing
script:
  - ./runtests.sh
after_success:
  - coveralls
addons:
  postgresql: "9.4"
services:
  - redis-server
notifications:
  email: false
  slack:
    - hasgeek:HDCoMDj3T4ICB59qFFVorCG8
    - friendsofhasgeek:3bLViYSzhfaThJovFYCVD3fX
