Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-Assets==2.0
Flask-Mail==0.9.1
Flask-WTF==0.14.3
Flask-RQ2==18.3
git+https://github.com/hasgeek/baseframe
git+https://github.com/hasgeek/coaster
git+https://github.com/hasgeek/flask-lastuser
jsmin==2.2.2
pytz==2020.1
psycopg2==2.8.5
wtforms_json==0.3.3
rq==1.5.0
itsdangerous==1.1.0
html2text==2020.1.16
premailer==3.7.0
python-dateutil==2.8.1
tabulate==0.8.7
Flask-Admin==1.5.6
isoweek==1.3.3
Flask-Migrate==2.5.3
html5print==0.1.2
