Flask==0.10.1
Flask-SQLAlchemy
Flask-Assets
Flask-Mail
Flask-WTF
Flask-RQ
git+https://github.com/hasgeek/flask-lastuser
jsmin
pytz
psycopg2
wtforms_json
rq
itsdangerous
html2text
premailer==1.13
python-dateutil
tabulate
Flask-Admin
