#!/bin/sh

export BASE_URL='http://localhost:6500'
export SQLALCHEMY_DATABASE_URI='postgresql://localhost:5432/boxoffice_test_app'
export ALLOWED_ORIGINS=['http://localhost:6600']
export SECRET_KEY='make this something random'
export LASTUSER_SERVER='http://auth.hasgeek.com'
export LASTUSER_CLIENT_ID=''
export LASTUSER_CLIENT_SECRET=''
export RAZORPAY_KEY_ID=''
export RAZORPAY_KEY_SECRET=''
export ITEM_COLLECTION_ID=''
