// Define all colours here;

$color-base: #856a91;
$color-base-lighter: #eeeeff;

$color-heading-box: $color-base;

$color-btn-text: #fff;

$color-action-btn-background: #5cb85c;
$color-action-btn-border: #4cae4c;

$color-action-btn-hover-background: #449d44;
$color-action-btn-hover-border: #398439;

$color-primary-btn-background: #337ab7;
$color-primary-btn-border: #2e6da4;

$color-primary-btn-hover-background: #286090;
$color-primary-btn-hover-border: #204d74;

$color-info-btn-background: #5bc0de;
$color-info-btn-border: #46b8da;

$color-info-btn-hover-background: #31b0d5;
$color-info-btn-hover-border: #269abc;

$color-danger-btn-background: #d9534f;
$color-danger-btn-border: #d43f3a;

$color-danger-btn-hover-background: #c9302c;
$color-danger-btn-hover-border: #ac2925;

$color-form-label: #999;
$color-form-filled-label: #800080;
$color-form-disabled-label: #ccc;
$color-form-field-border: #757575;
$color-form-helptext: #aaa;
