.card {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 20px 0;
}

.card-left {
  float: left;
  width: 40%;
  background-color: $color-base-lighter;
  text-align: center;
}

.card-left-content {
  font-size: 40px;
  text-align: center;
  margin: 10px 0px;
}

.card-right {
  float: right;
  width: 60%;
  text-align: center;
}

.card-right-content {
  margin: 10px 0;
}

.chart-wrapper {
  min-height: 350px;
  margin: 20px 15px;
}

.sales-chart {
  position: relative;
  min-height: 300px;
  padding: 20px 0px 0px;
}

.stats-table > thead > tr > th {
  background-color: $color-base-lighter;
}
