body
  padding-top: 50px

#root
  position: relative

#hgnav > div
  width: 100%

#hgnav .page-header h1
  margin-left: 15px

@media (min-width: 1200px)
  #hgnav .page-header h1
    margin-left: 0

.header
  text-align: center
  font-size: 25px

.box
  display: inline-block
  vertical-align: top
  float: none
  margin-bottom: 40px
  background-color: #fff

@media (min-width: 1600px)
  .box
    width: 33.3%

.heading
  background-color: $color-heading-box
  color: rgb(255, 255, 255)
  padding: 10px 20px
  border-radius: 5px 5px 0 0
  min-height: 44px
  box-shadow: 0 0 2px rgba(0,0,0,0.6)
  margin: 0

.heading:after
  content: " "
  display: table
  clear: both

.heading-title
  float: left
  width: 70%
  margin: 0

.heading-edit
  float: right

.heading-title,
.heading-edit
  font-size: 16px

.edit-btn
  background: transparent
  border: none

.content-box
  box-shadow: 0 0 2px rgba(0,0,0,0.6)
  border-radius: 0 0 5px 5px
  padding: 20px
  background-color: #fff
  min-height: 196px

.content-box:after
  content: " "
  display: table
  clear: both

.content-details,
.content-details-text
  margin: 5px 0
  word-break: break-all

.content-details-text,
.content-list
  padding-left: 25px

.content-list
  list-style-position: inside

.boxoffice-button
  border-width: 0px 0px 3px
  border-style: solid
  border-radius: 5px
  padding: 6px 12px
  color: $color-btn-text
  font-size: 13px

.btn-inline
  margin: 0 10px 10px 0
  display: inline-block

@media (min-width: 768px)
  .boxoffice-button
    padding: 6px 12px
    font-size: 15px

  .btn-inline
    margin: 0 10px 0 0

.boxoffice-button-action
  background-color: $color-action-btn-background
  border-color: $color-action-btn-border

.boxoffice-button-action:hover
  background-color: $color-action-btn-hover-background
  border-color: $color-action-btn-hover-border

.boxoffice-button-info
  background-color: $color-info-btn-background
  border-color: $color-info-btn-border

.boxoffice-button-info:hover
  background-color: $color-info-btn-hover-background
  border-color: $color-info-btn-hover-border

a.boxoffice-button:hover,
a.boxoffice-button:focus
  text-decoration: none
  color: $color-btn-text
  outline: none

.btn-right
  float: right
  margin-bottom: 10px

.action-btn
  cursor: pointer
  padding-left: 10px

.clearfix:after
  content: " "
  display: table

.form-title
  font-size: 18px
  font-weight: bold
  padding: 5px 0
  margin: 0 0 40px
  text-align: center

.form
  font-size: 16px

.group
  position: relative
  margin-bottom: 45px

@media(min-width: 1024px)
  .inline-group.left-group
    width: 45%
    float: left
    clear: both

  .inline-group.right-group
    width: 45%
    float: right
    clear: none

.group-margin-top
  margin-top: 20px

.radio-group
  margin-bottom: 25px

.control-group
  margin-bottom: 45px

.group-input
  font-size: 18px
  line-height: 1.2
  padding: 10px 10px 10px 5px
  display: block
  width: 100%
  border: none
  border-bottom: 1px solid $color-form-field-border
  box-shadow: none

.group-input:focus
  outline: none

.group-input.longer-labeltxt
  height: 65px

@media (min-width: 768px)
  .group-input.longer-labeltxt
    height: auto

.group-label
  color: $color-form-label
  font-size: 16px
  font-weight: normal
  position: absolute
  pointer-events: none
  left: 5px
  top: 10px
  max-height: 45px
  overflow: hidden
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.group-input:disabled,
.group-input.disabled
  position: relative
  background-color: transparent
  color: $color-form-disabled-label

.group-input:focus ~ .group-label,
.group-input.filled ~ .group-label
  top: -20px
  font-size: 14px
  color: $color-form-filled-label

.group-input-btn:active
  outline: none

input.icon-placeholder
  font-family: FontAwesome

.group-select select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 100%
  font-size: 18px
  padding: 10px 10px 10px 1px
  background: transparent
  border: none
  border-radius: 0
  border-bottom: 1px solid $color-form-field-border
  position: relative

.inline-group select
  top: 2px

.group-select select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000

.group-select select:focus
  outline: 0

.group-select
  position: relative
  margin-bottom: 45px

.group-select:after
  position: absolute
  top: 50px
  right: 2px
  width: 0
  height: 0
  padding: 0
  content: ''
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-top: 5px solid $color-form-field-border
  pointer-events: none

.inline-group.group-select:after
  top: 22px

.inline-group .input-group
  width: 75%
  margin: 0 2% 2% 0
  float: left
  position: relative

@media (min-width: 768px)
  .inline-group .input-group
    width: 30%
    margin: 0 3% 0 0

.group-checkbox
  width: auto
  padding: 0
  font-size: 20px
  display: inline-block


.bar
  position: relative
  display: block
  width: 100%

.bar:before,
.bar:after
  content: ''
  height: 2px
  width: 0
  bottom: -1px
  position: absolute
  background: $color-form-filled-label
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.bar:before
  left: 50%

.bar:after
  right: 50%

.group-input:focus ~ .bar:before,
.group-input:focus ~ .bar:after
  width: 50%

.field-title
  color: $color-form-label
  font-size: 16px
  margin: 0 0 5px
  font-weight: normal

.field-title.filled
  color: $color-form-filled-label

.form-control.field-title
  color: inherit

.group textarea
  border: 1px solid $color-form-field-border

.form-error-msg
  color: white
  font-size: 12px
  border-radius: 3px
  border: 1px solid #b94a48
  background: #b94a48
  margin: 10px 0 0
  padding: 5px
  position: relative
  display: block
  width: 150px

.form-error-msg::before
  display: block
  content: ""
  position: absolute
  border: 6px solid transparent
  border-bottom: 6px solid #b94a48
  top: -13px
  left: 20px

.btn-wrapper
  float: right
  text-align: center
  margin: 20px 0 10px
  clear: both

.error-msg
  font-size: 14px
  margin: 5px auto
  color: red
  clear: both
  text-align: right

.error-msg.left-aligned
  text-align: left

.form-help-text
  font-size: 13px
  color: $color-form-helptext
  margin: 10px 0
  position: relative
  top: -40px
  left: 5px

.info-msg
  font-size: 14px
  margin: 5px auto
  color: green
  clear: both
  text-align: right

.admin-sidebar
  position: fixed
  top: 35px
  min-height: 100vh
  left: -120%
  width: 110%
  margin: 0
  max-height: 100%
  -webkit-transition: left 0.15s ease-out
  -moz-transition: left 0.15s ease-out
  -ms-transition: left 0.15s ease-out
  -o-transition: left 0.15s ease-out
  transition: left 0.15s ease-out
  z-index: 1025

.admin-sidebar.active
  left: 0
  background-color: rgba(0, 0, 0, 0.3)

.sidebar-toggle
  position: fixed
  top: 0
  left: 0px
  z-index: 1031
  font-size: 23px
  border: none
  padding: 0 3px 1px 5px
  color: #777
  background: transparent
  -webkit-transition: left 0.1s ease-out
  -moz-transition: left 0.1s ease-out
  -ms-transition: left 0.1s ease-out
  -o-transition: left 0.1s ease-out
  transition: left 0.1s ease-out

.sidebar-toggle:focus
  outline: 0

.admin-sidebar-content
  padding: 20px 0
  background-color: #fff
  width: 180px
  min-height: 100vh

.admin-sidebar .sidebar-title
  display: block
  padding: 10px 20px
  font-size: 16px
  text-decoration: none
  color: #18a1c8
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.admin-sidebar .sidebar-title:active,
.admin-sidebar .sidebar-title:focus
  color: #18a1c8
  text-decoration: none
  outline: 0

.admin-sidebar .sidebar-title.active
  background-color: #eef
  text-decoration: none
  color: #856a91
  cursor: default

.admin-sidebar .sidebar-subitem
  padding-left: 40px
  font-size: 14px

.sidebar-title-icon
  padding-right: 10px

.content-wrapper
  position: relative

@media (min-width: 1200px)
  .sidebar-toggle
    display: none

  .admin-sidebar
    top: 37px
    left: 0
    width: 15%

  .admin-sidebar-content
    width: 100%
    background-color: #856a91

  .admin-sidebar .sidebar-title
    color: #fff

  .admin-sidebar .sidebar-title:active,
  .admin-sidebar .sidebar-title:focus
    color: #fff

  .admin-sidebar .sidebar-title.active
    color: #856a91
    cursor: default

  .content-wrapper
    width: 85%
    margin: 0 15% 30px

  .content-wrapper .header
    text-align: left
    padding: 0 15px

@media (min-width: 1400px)
  .admin-sidebar
    width: 13%

  .content-wrapper
    width: 87%
    margin: 0 13% 30px

.title-wrapper
  margin-bottom: 12px
  font-size: 18px
  font-weight: normal
  position: relative

.title-wrapper .status-select-label
  width: 20%

.title-wrapper .status-select
  display: inline-block
  width: 60%

.clear-field
  cursor: pointer
  position: absolute
  right: 16px
  top: 1px
  font-size: 16px
  background: #ddd
  padding: 6px
  border-radius: 0 4px 4px 0

.content-slider
  position: absolute
  top: -115px
  left: 3%
  background: #fff
  z-index: 1020
  width: 97%
  min-height: 100%
  box-shadow: 0 0 2px rgba(0,0,0,0.8)

.content-slider.align-down
  top: 0

@media (min-width: 768px)
  .content-slider
    top: -50px
    left: 1%
    width: 99%

.content-slider-title
  padding: 10px 0
  font-size: 18px
  text-align: center
  border-bottom: 2px solid #ddd
  margin: 0

.content-slider-wrapper
  padding: 30px

.close-button
  position: absolute
  top: -15px
  left: -5px
  background: #fff
  border: 2px solid #999
  font-size: 18px
  border-radius: 50%
  color: #000
  background: #eee
  width: 30px
  height: 30px

.close-button .fa
  position: relative
  top: -2px
  left: -1px

.table-responsive
  overflow-x: inherit

@media (min-width: 768px)
  h1.boxoffice-listing
    margin-left: 3em
    border-bottom: 2px solid
    padding-bottom: 5px
    display: inline

p.settlements-month-widget
  margin-top: 10px

//styles for admin page
.color-black
  color: #1F2D3D

.color-white
  color: white

.bg-white
  background-color: #ffffff

.bg-light
  background-color: #F9FAFC

.bg-highlight
  background-color: #FBF9DE

.has-box
  background: #FFFFFF
  box-shadow: 0 1px 6px 0 rgba(192,204,218,0.67)
  border-radius: 5px
  padding: 20px
  float: none
  background-color: #F9FAFC
  margin: 10px 0 32px

.item-stats
  padding-top: 2em 0 0 0

h2.col-header, p.margin-left
  margin-left: 15px

.no-padding
  padding: 0px !important

.item-stats
  text-align: center

.item-stats .callout-text
  font-size: 14px
  color: #8492A6
  letter-spacing: -0.37px

.item-stats .digits
  font-size: 24px
  color: #1F2D3D
  letter-spacing: -0.64px
  font-weight: 700

.item-stats .border-radius-left
  border-radius: 5px 0px 0px 5px

.item-stats .border-radius-right
  border-radius: 0px 5px 5px 0px

.no-border-radius
  border-radius

.price-digits
  font-size: 24px
  color: #8492A6
  letter-spacing: -0.64px
  font-weight: 600
  margin-top: 14px
  margin-bottom: 0

.current-price-digits
  color: #1F2D3D
  letter-spacing: -0.64px
  font-weight: 600
  margin-top: 12px
  font-size: 32px
  margin-bottom: 0

@media (min-width: 768px)
  .item-stats .digits
    margin-top: 8px

.past-price
  background: #8492A6
  border-radius: 13px
  font-size: 12px
  color: white
  padding: 2px 6px
  display: inline

.upcoming-price
  background: #4A90E2
  border-radius: 13px
  font-size: 12px
  color: white
  padding: 2px 6px
  display: inline

.current-price
  background: #61C491
  border-radius: 13px
  font-size: 12px
  color: white
  padding: 2px 6px
  display: inline

@media (max-width: 500px)
  .past-price
    font-size: 10px

  .upcoming-price
    font-size: 10px

  .current-price
    font-size: 10px

.start-time
  font-size: 12px
  color: #8492A6
  line-height: 1.25
  margin-top: 8px
  margin-bottom: 0

@media (max-width: 500px)
  .more-icon
    margin-top: 20px

.hg-bt
  -webkit-border-top: 1px solid #D2DBE5
  -moz-border-top: 1px solid #D2DBE5
  border-top: 1px solid #D2DBE5

.hg-bb
  -webkit-border-bottom: 1px solid #D2DBE5
  -moz-border-bottom: 1px solid #D2DBE5
  border-bottom: 1px solid #D2DBE5

.price-panel
  margin-left: 15px
  margin-right: 15px
  border-color: #D2DBE5

.btn-hg-primary
  background: #E05F26
  border-radius: 4px
  color: white
  padding: 6px 40px
  font-size: 18px

.btn-hg-primary:hover
  color: white
  background: #E66D37
  box-shadow: 0 2px 4px 0 rgba(31,45,61,0.60)

.btn-hg-primary:focus
  color: white
  background: #E66D37
  box-shadow: 0 2px 4px 0 rgba(31,45,61,0.60)

.discount-title
  font-size: 18px
  color: #1F2D3D
  letter-spacing: -0.48px
  font-weight: 600
  margin-bottom: 0
  padding: 16px

.discount-ticket-amount
  font-size: 14px
  background-color: #EFF9F4
  padding: 16px
  border-bottom: 1px dashed #D2DBE5
  border-top: 1px dashed #D2DBE5
  margin-bottom: 0

.discount-type
  font-size: 14px
  color: #8492A6
  letter-spacing: -0.37px
  padding: 16px
  text-transform: uppercase

.discount-type span
  font-size: 16px
  color: #1F2D3D
  letter-spacing: -0.43px
  text-transform: capitalize
  font-weight: 700
  line-height: 1.15

.edit-page-link
  font-size: 16px
  color: #4A90E2

.btn-margin-right
  margin-right: 10px

.align-right-btn
  float: right
  margin: 10px 0 5px
