.line-item-discount {
  color: green;
}
.italic-title {
  font-style: italic;
}
.cancelled {
  color: #a94442;
}
.right-button {
  margin-left: 10px;
}
.table-title {
  margin: 12px 0;
  font-size: 18px;
  font-weight: normal;
}
.table-title .status-select-label {
  width: 20%;
}
.table-title .status-select {
  display: inline-block;
  width: 60%;
}
.table-orders {
  border-width: 0px;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-orders p.table-content {
  padding: 5px 0 0;
  margin: 0 0 5px;
  word-break: break-all;
}
.table-orders .footable-visible p.table-content {
  max-width: 180px;
}
@media (min-width: 768px) {
  .table-orders .footable-visible p.table-content {
    width: auto;
  }
}

.table-orders.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  color: #df5e0e;
  padding-top: 5px;
}

.table-orders.footable > thead > tr:first-child > th {
  border: 1px solid #ccc;
}
.table-orders tfoot tr td {
  background-color: transparent;
  border-color: transparent;
}
.table-orders > tfoot .pagination {
  float: right;
  margin: 15px auto;
}
.table-orders tfoot .pagination ul li a {
  color: #888;
}
.table-orders tfoot .pagination ul li.active a {
  border-color: #888;
}
