body {
  padding-top: 50px;
}

#hgnav > div {
  width: 100%;
}

#hgnav .page-header h1 {
  margin-left: 15px;
}

@media (min-width: 1200px) {
  #hgnav .page-header h1 {
    margin-left: 0;
  }
}
.header {
  text-align: center;
  font-size: 25px;
}

.heading {
  background-color: #856A91;
  color: white;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  min-height: 44px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.heading:after {
  content: " ";
  display: table;
  clear: both;
}

.content-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 5px 5px;
  padding: 20px;
  background-color: #fff;
  min-height: 196px;
}

.boxoffice-button {
  border-width: 0px 0px 3px;
  border-style: solid;
  border-radius: 5px;
  padding: 6px;
  color: #FFF;
  font-size: 13px;
}

.btn-inline {
  margin: 0 10px 10px 0;
  display: inline-block;
}

@media (min-width: 768px) {
  .boxoffice-button {
    padding: 6px 12px;
    font-size: 15px;
  }

  .btn-inline {
    margin: 0 10px 0 0;
  }
}
.boxoffice-button-action {
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.boxoffice-button-action:hover {
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.boxoffice-button-info {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}

.boxoffice-button-info:hover {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}

a.boxoffice-button:hover,
a.boxoffice-button:focus {
  text-decoration: none;
  color: #FFF;
  outline: none;
}

.action-btn {
  cursor: pointer;
  padding-left: 10px;
}

.clearfix:after {
  content: " ";
  display: table;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0 0 40px;
  text-align: center;
}

.form {
  font-size: 16px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.radio-group {
  margin-bottom: 25px;
}

.control-group {
  margin-bottom: 45px;
}

.group-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  box-shadow: none;
}

.group-input:focus {
  outline: none;
}

.group-label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group-input:disabled,
.group-input.disabled {
  position: relative;
  background-color: transparent;
  color: #CCC;
}

.group-input:focus ~ .group-label,
.group-input.filled ~ .group-label {
  top: -20px;
  font-size: 14px;
  color: #800080;
}

.group-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px 10px 10px 5px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
  position: relative;
}

.group-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.group-select select:focus {
  outline: 0;
}

.group-select {
  position: relative;
  margin-bottom: 45px;
}

.group-select:after {
  position: absolute;
  top: 50px;
  right: 2px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #757575;
  pointer-events: none;
}

.group-checkbox {
  width: auto;
  padding: 0;
  font-size: 20px;
  display: inline-block;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: #800080;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.group-input:focus ~ .bar:before,
.group-input:focus ~ .bar:after {
  width: 50%;
}

.field-title {
  color: #999;
  font-size: 16px;
  margin: 0 0 5px;
  font-weight: normal;
}

.field-title.filled {
  color: #800080;
}

.group textarea {
  border: 1px solid #757575;
}

.form-error-msg {
  color: white;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #b94a48;
  background: #b94a48;
  margin: 10px 0 0;
  padding: 5px;
  position: relative;
  display: inline-block;
}

.form-error-msg::before {
  display: block;
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom: 6px solid #b94a48;
  top: -13px;
  left: 20px;
}

.btn-wrapper {
  float: right;
  text-align: center;
  margin-bottom: 10px;
  clear: both;
}

.error-msg {
  font-size: 14px;
  margin: 5px auto;
  color: red;
  clear: both;
  text-align: right;
}

.error-msg.left-aligned {
  text-align: left;
}

.info-msg {
  font-size: 14px;
  margin: 5px auto;
  color: green;
  clear: both;
  text-align: right;
}

.admin-sidebar {
  position: fixed;
  top: 35px;
  min-height: 100vh;
  left: -120%;
  width: 110%;
  margin: 0;
  max-height: 100%;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  z-index: 1025;
}

.admin-sidebar.active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1031;
  font-size: 23px;
  border: none;
  padding: 0 3px 1px 5px;
  color: #777;
  background: transparent;
  -webkit-transition: left 0.1s ease-out;
  -moz-transition: left 0.1s ease-out;
  -ms-transition: left 0.1s ease-out;
  -o-transition: left 0.1s ease-out;
  transition: left 0.1s ease-out;
}

.sidebar-toggle:focus {
  outline: 0;
}

.admin-sidebar-content {
  padding: 20px 0;
  background-color: #fff;
  width: 180px;
  min-height: 100vh;
}

.admin-sidebar .sidebar-title {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #18a1c8;
}

.admin-sidebar .sidebar-title:active,
.admin-sidebar .sidebar-title:focus {
  color: #18a1c8;
  text-decoration: none;
  outline: 0;
}

.admin-sidebar .sidebar-title.active {
  background-color: #eef;
  text-decoration: none;
  color: #856a91;
  cursor: default;
}

.sidebar-title-icon {
  padding-right: 10px;
}

.content-wrapper {
  position: relative;
}

@media (min-width: 1200px) {
  .sidebar-toggle {
    display: none;
  }

  .admin-sidebar {
    top: 37px;
    left: 0;
    width: 13%;
  }

  .admin-sidebar-content {
    width: 100%;
    background-color: #856a91;
  }

  .admin-sidebar .sidebar-title {
    color: #fff;
  }

  .admin-sidebar .sidebar-title:active,
  .admin-sidebar .sidebar-title:focus {
    color: #fff;
  }

  .admin-sidebar .sidebar-title.active {
    color: #856a91;
    cursor: default;
  }

  .content-wrapper {
    width: 87%;
    margin: 0 13% 30px;
  }

  .content-wrapper .header {
    text-align: left;
    padding: 0 15px;
  }
}
.organization-logo {
  float: left;
  max-width: 80px;
  padding: 10px 0;
}

.organization-logo img {
  width: 100%;
}

.item-collection-description {
  font-size: 18px;
  text-align: center;
}

.ticket {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin-bottom: 40px;
  background-color: #fff;
}

.ticket-type {
  float: left;
  font-size: 18px;
}

.ticket-type p {
  margin: 0;
}

.ticket-edit {
  float: right;
  font-size: 18px;
}

.ticket-edit .fa-question,
.ticket-edit .fa-check {
  color: black;
  position: relative;
  right: 8px;
  font-size: 12px;
  bottom: 0px;
}

.edit-btn {
  cursor: pointer;
}

.content {
  clear: both;
  position: relative;
}

.item-description,
.price {
  font-size: 14px;
}

.item-description .fa {
  padding-right: 5px;
}

.assign-form-wrapper {
  text-align: center;
}

.confirmation-msg {
  clear: both;
  text-align: left;
  color: green;
  margin: 15px 0;
  font-size: 19px;
  font-weight: 500;
}

.continue-btn-wrapper {
  margin: 10px 0;
}

.assign-form-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0 0;
  margin: 0 0 5px;
  text-align: center;
}

.assignee-form-title {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 0 40px;
  text-align: center;
}

.assign-btn-wrapper {
  float: right;
}

.cancelled-ticket {
  background-color: #eee;
}

.cancel-msg {
  color: red;
  text-align: center;
}

.box {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin-bottom: 40px;
  background-color: #fff;
}

.heading-title {
  float: left;
  width: 70%;
  margin: 0;
}

.heading-edit {
  float: right;
}

.heading-title,
.heading-edit {
  font-size: 16px;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.section-content {
  font-size: 14px;
  margin: 0;
}

.add-item-icon {
  font-size: 50px;
  text-align: center;
  color: #eb5b1f;
  cursor: pointer;
  position: relative;
  top: 30px;
  line-height: 1;
}

.org-logo {
  float: right;
  max-width: 100px;
}

.org-logo img {
  width: 100%;
}

.card {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 20px 0;
}

.card-left {
  float: left;
  width: 40%;
  background-color: #EEEEFF;
  text-align: center;
}

.card-left-content {
  font-size: 40px;
  text-align: center;
  margin: 10px 0px;
}

.card-right {
  float: right;
  width: 60%;
  text-align: center;
}

.card-right-content {
  margin: 10px 0;
}

.chart-wrapper {
  min-height: 350px;
  margin: 40px 15px;
}

.sales-chart {
  position: relative;
  min-height: 300px;
  padding: 20px 0px 0px;
}

.stats-table > thead > tr > th {
  background-color: #EEEEFF;
}

.line-item-discount {
  color: green;
}

.italic-title {
  font-style: italic;
}

.cancelled {
  color: #a94442;
}

.right-button {
  margin-left: 10px;
}

.table-title {
  margin: 12px 0;
  font-size: 18px;
  font-weight: normal;
}

.table-title .status-select-label {
  width: 20%;
}

.table-title .status-select {
  display: inline-block;
  width: 60%;
}

.table-orders {
  border-width: 0px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-orders p.table-content {
  padding: 5px 0 0;
  margin: 0 0 5px;
  word-break: break-all;
}

.table-orders .footable-visible p.table-content {
  max-width: 180px;
}

@media (min-width: 768px) {
  .table-orders .footable-visible p.table-content {
    width: auto;
  }
}
.table-orders.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  color: #df5e0e;
  padding-top: 5px;
}

.table-orders.footable > thead > tr:first-child > th {
  border: 1px solid #ccc;
}

.table-orders tfoot tr td {
  background-color: transparent;
  border-color: transparent;
}

.table-orders > tfoot .pagination {
  float: right;
  margin: 15px auto;
}

.table-orders tfoot .pagination ul li a {
  color: #888;
}

.table-orders tfoot .pagination ul li.active a {
  border-color: #888;
}

.order-slider {
  position: absolute;
  top: -115px;
  left: 3%;
  background: #fff;
  z-index: 1020;
  width: 97%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

@media (min-width: 768px) {
  .order-slider {
    top: -50px;
    left: 1%;
    width: 99%;
  }
}
.order-title {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  margin: 0;
}

.line-items-wrapper {
  padding: 30px;
}

.close-button {
  position: absolute;
  top: -15px;
  left: -5px;
  background: #fff;
  border: 2px solid #999;
  font-size: 18px;
  border-radius: 50%;
  color: #000;
  background: #eee;
  width: 30px;
  height: 30px;
}

.close-button .fa {
  position: relative;
  top: -1px;
}
