* { 
  margin: 0; 
  padding: 0; 
}

body { 
  font-family: "Source Sans Pro",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff
}

a {
  text-decoration: none;
}

.clearfix:after, .clearfix:before { 
  clear: both; 
  display: table; 
  content: " "; 
}

.wrapper { 
  width: 800px; 
  margin: 20px auto; 
}

.header { 
  font-size: 40px; 
  text-align: center; 
  margin-bottom: 30px; 
  padding-bottom: 10px; 
  border-bottom: 1px solid #000;
}

.company-details { 
  margin-bottom: 40px; 
}

.logo { 
  float: left;
}

.address { 
  float: right; 
}

.customer { 
  margin-bottom: 40px; 
}

table { 
  border-collapse: collapse; 
  border: 1px solid #000;
}

table td, table th { 
  border: 1px solid #000; 
  padding: 5px; 
}

.center { 
  text-align: center;
}

.cutomer-details { 
  float: left; 
}

.invoice-details { 
  float: right; 
}

.item-description {
  max-width: 200px;
}

.fa {
  padding-right: 5px;
}

.gray { 
  background-color: #eee; 
}

.total, .total-amount {
  font-weight: 600;
}

.items {
  width: 100%;
  margin-top: 20px;
}

.terms {
  margin-top: 20px;
}

.terms-heading {
  font-size: 15px;
  font-weight: 600;
}

.terms-content {
  font-size: 13px;
}