.wrapper {
  max-width: 900px;
  padding: 15px;
  margin: 0 auto;
}

.boxoffice-button {
  border-width: 0px 0px 3px;
  border-style: solid;
  border-radius: 5px;
  padding: 6px 12px;
  color: #fff;
  font-size: 15px;
}
.boxoffice-button-action {
  background-color: #5CB85C;
  border-color: #4CAE4C;
}
.boxoffice-button-info {
  background-color: #5BC0DE;
  border-color: #46B8DA;
}

.header {
  text-align: center;
  font-size: 25px;
}

.organization-logo {
  float: left;
  max-width: 80px;
  padding: 10px 0;
}

.organization-logo img{
  width: 100%;
}

.inventory {
  float: right;
}

.inventory .title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 30px;
  padding-top: 40px;
}

.ticket {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin-bottom: 40px;
  background-color: #fff;
}

.heading {
  background-color: #800080;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.heading:after {
  content: " ";
  display: table;
  clear: both;
}

.ticket-type {
  float: left;
  font-size: 18px;
}

.ticket-type p {
  margin: 0;
}

.ticket-edit {
  float: right;
  font-size: 18px;
}

.edit-btn {
  cursor: pointer;
}

.ticket-edit .fa-question, .ticket-edit .fa-check {
  color: black;
  position: relative;
  right: 8px;
  font-size: 12px;
  bottom: 0px;
}

.content {
  clear: both;
}

.item-description, .price {
  font-size: 14px;
}

.item-description .fa {
  padding-right: 5px;
}

.content-box {
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  border-radius: 0 0 5px 5px;
  padding: 20px;
  background-color: #fff;
}

.assign-form-wrapper {
  text-align: center;
}

.confirmation-msg {
  clear: both;
  text-align: left;
  color: green;
  margin: 15px 0;
  font-size: 19px;
  font-weight: 500;
}

.assign-form-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
}

.assignee-form {
  font-size: 16px;
}

.attendee-form-title {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 0 40px;
}
.group { 
  position: relative; 
  margin-bottom: 45px; 
}
.radio-group {
  margin-bottom: 25px; 
}
.attendee-form .control-group, .form-group {
  margin-bottom: 45px;
}

.attendee-form .group-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  box-shadow: none;
}
.attendee-form .group-input:focus { 
  outline:none; 
}

.attendee-form .group-label {
  color: #999; 
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.attendee-form .group-input.disabled {
  position: relative;
  background-color: transparent;
  color: #ccc;
}

.attendee-form .group-input:focus ~ .group-label, 
.attendee-form .group-input.filled ~ .group-label {
  top: -20px;
  font-size: 14px;
  color: #800080;
}

.bar { 
  position: relative; 
  display:block; 
  width: 100%; 
}
.bar:before, 
.bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: -1px; 
  position: absolute;
  background: #800080; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%; 
}

.group-input:focus ~ .bar:before, 
.group-input:focus ~ .bar:after {
  width: 50%;
}

.field-title {
  color: #999;
  font-size: 16px;
  margin: 0 0 5px;
  font-weight: normal;
}

.field-title.filled {
  color: #800080;
}

.assign-btn-wrapper {
  float: right;
  text-align: center;
}

.error-msg {
  margin: 0 auto;
  color: red;
  clear: both;
  text-align: right;
}
