#payment-wrapper {
  margin: 50px auto;
}

@media (min-width: 768px) {
  #payment-wrapper {
    width: 100%;
    margin: 50px 0;
  }
}

@media (min-width: 1200px) {
  #payment-wrapper  {
    width: 85%;
    padding: 20px;
    margin: 50px auto;
  }
}

.payment-progress-wrapper {
  background-color: #463850;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.payment-stages-wrapper {
  position: relative;
  top: -20px;
  overflow: hidden;
}

.progress-indicator li {
  cursor: pointer;
}

.buyer-details-wrapper {
  display: none;
  position: relative;
  top: -20px;
}

.buyer-details-wrapper.active,
.payment-details-wrapper.active,
.attendee-details-wrapper.active {
  display: block;
}

.ticket-selection-header,
.buyer-details-header,
.payment-details-header,
.attendee-details-header {
  background-color: #eef;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px 15px 0 0;
}

.ticket-selection-header .toggle-content .icon,
.buyer-details-header .toggle-content .icon,
.payment-details-header .toggle-content .icon,
.attendee-details-header .toggle-content .icon {
  padding-right: 15px;
}

.ticket-selection-header .toggle-content,
.buyer-details-header .toggle-content,
.payment-details-header .toggle-content,
.attendee-details-header .toggle-content {
  cursor: pointer;
}

.ticket-selection-content, 
.buyer-details-content,
.payment-details-content,
.attendee-details-content  {
  padding: 20px;
  border: 2px solid #ccc;
  border-top-width: 0;
}

.ticket-selection-content .nav-tabs.width-1 > li {
  width: 100%;
  text-align: center;
}

.ticket-selection-content .nav-tabs.width-2 > li, 
.ticket-selection-content .nav-tabs.width-3 > li,
.ticket-selection-content .nav-tabs.width-4 > li,
.payment-details-content .nav-tabs > li {
  width: 50%;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .ticket-selection-content .nav-tabs.width-3 > li {
    width: 33.3%;
    text-align: center;
  }

  .payment-details-content .nav-tabs > li {
    width: 33.3%;
    text-align: center;
  }

  .ticket-selection-content .nav-tabs.width-4 > li {
    width: 25%;
    text-align: center;
  }
}

.ticket-selection-content .nav-tabs > li > a,
.payment-details-content .nav-tabs > li > a {
  font-size: 15px;
  font-weight: 500;
  outline: none;
}

.ticket-selection-content .nav-tabs > li::after,
.payment-details-content .nav-tabs > li::after {
    transform: scaleX(0);
    transition: all 150ms ease 0s;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #463850;
}

.ticket-selection-content .nav-tabs > li.active::after,
.payment-details-content .nav-tabs > li.active::after {
    transform: scaleX(1);
}

.ticket-selection-content .nav > li > a:focus, 
.ticket-selection-content .nav > li > a:hover,
.payment-details-content .nav > li > a:focus, 
.payment-details-content .nav > li > a:hover {
  background-color: rgba(238, 238, 255, 0.4);
  border-color: transparent;
  border-radius: 0;
}

.ticket-selection-content .nav-tabs > li.active > a, 
.ticket-selection-content .nav-tabs > li.active > a:focus, 
.ticket-selection-content .nav-tabs > li.active > a:hover,
.payment-details-content .nav-tabs > li.active > a, 
.payment-details-content .nav-tabs > li.active > a:focus, 
.payment-details-content .nav-tabs > li.active > a:hover {
  border-color: transparent;
  color: #463850;
}

.ticket-selection-content .nav > li.active > a:focus, 
.ticket-selection-content .nav > li.active > a:hover,
.payment-details-content .nav > li.active > a:focus, 
.payment-details-content .nav > li.active > a:hover {
  background-color: transparent;
}

.ticket-selection-content .icon {
  padding-right: 5px;
}

.ticket-selection-content .tab-content,
.payment-details-content .tab-content{
  padding-top: 20px;
}

.ticket-details {
  float: left;
  width: 100%;
  word-break: break-word;
}

@media (min-width: 768px) {
  .ticket-details {
    width: 70%;
  }
}

.ticket-title {
  font-size: 20px;
}

.ticket-price-qty {
  float: right;
}

.ticket-price, .ticket-qty {
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}

.ticket-qty {
  border: 1px solid #ccc;
  border-radius: 4px; 
  outline: none; 
  color: #333; 
  height: 30px;
  font-size: 15px;
  width: 41px;
}

.ticket-price {
  padding-right: 20px;
}

.multiplier {
  padding-right: 20px;
}

.discount-code {
  clear: both;
  font-size: 15px;
  float: right;
  margin: 25px 0 0;
}

.icon-spinner {
  position: relative;
  top: 6px;
}

.discount-code input {
  width: 180px;
  padding: 3px 3px 3px 5px;
  line-height: 1.42857;
  height: 35px;
  position: relative;
  top: 2px;
  border-radius: 5px;
  border: 1px solid #eee;
}

@media (min-width: 768px) {
  .discount-code input {
    width: 194px;
    padding-left: 11px;
  }
}

.discount-code-msg {
  margin: 5px 9px 0;
  height: 22px;
}

.ticket-total {
  clear: both;
  width: 259px;
  float: right;
  border: 1px solid #eee;
  margin: 15px 0;
  padding: 15px;
}

.service-tax {
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

.proceed-button-wrapper {
  clear: both;
  margin: 15px 0 10px;
  float: right;
}

.stage-error-msg {
  clear: both;
  height: 20px;
  float: right;
  margin: 0px 0 10px;
}

.attendee-details-wrapper {
  display: none;
  position: relative;
  top: -40px;
}

