.policies-wrapper
  clear: both
  position: relative

.date
  position: relative

.calendar-icon
  position: absolute
  bottom: 10px
  right: 10px
  top: auto
  cursor: pointer
  pointer-events: none

.daterangepicker.single.ltr .ranges
  clear: both

.items-select2
  width: 90%

@media (min-width: 768px)
  .items-select2
    width: 75%
    max-width: 300px
  