.organization-logo 
  float: left
  max-width: 80px
  padding: 10px 0

.organization-logo img
  width: 100%

.item-collection-description 
  font-size: 18px
  text-align: center

.ticket
  display: inline-block
  vertical-align: top
  float: none
  margin-bottom: 40px
  background-color: #fff

.cancelled-ticket
  background-color: #ddd

.ticket-type
  float: left
  font-size: 18px

.ticket-type p
  margin: 0

.ticket-edit
  float: right
  font-size: 18px

.ticket-edit .fa-question, 
.ticket-edit .fa-check
  color: black
  position: relative
  right: 8px
  font-size: 12px
  bottom: 0px

.edit-btn
  cursor: pointer

.content
  clear: both
  position: relative

.item-description, 
.price
  font-size: 14px

.cancelled-ticket .item-description, 
.cancelled-ticket .price
  opacity: 0.2

.item-description .fa 
  padding-right: 5px

.assign-form-wrapper
  text-align: center

.confirmation-msg
  clear: both
  text-align: left
  color: green
  margin: 15px 0
  font-size: 19px
  font-weight: 500

.assignee-form .form-group
  margin: 10px auto

.assign-form-title,
.cancel-msg
  font-size: 16px
  font-weight: bold
  padding: 5px 0 0
  margin: 0
  text-align: center

.attendee-form-title
  font-size: 18px
  font-weight: bold
  padding: 15px 0
  margin: 0 0 40px
  text-align: center

.cancel-msg
  font-style: italic
  position: absolute
  top: 25%
  right: 0
  left: 0
  color: red
  font-size: 20px
  -moz-transform: rotate(-10deg)
  -webkit-transform: rotate(-10deg)
  -o-transform: rotate(-10deg)
  -ms-transform: rotate(-10deg)
  transform: rotate(-10deg)
