.line-item-discount
  color: green

.italic-title
  font-style: italic

.cancelled
  color: #a94442

.right-button
  margin-left: 10px

.table-title
  margin: 12px 0
  font-size: 18px
  font-weight: normal

.table-title .status-select-label
  width: 20%

.table-title .status-select
  display: inline-block
  width: 60%

.table-orders
  border-width: 0px
  border-collapse: collapse
  border-spacing: 0

.table-orders p.table-content
  padding: 5px 0 0
  margin: 0 0 5px
  word-break: break-all

.table-orders .orders-sm-btn
  font-size: 10px

.table-orders .orders-btn
  display: inline-block
  margin: 5px 0px

@media (min-width:468px)
  .table-orders .orders-sm-btn
    font-size: 15px

  .table-orders .orders-btn.right-button
    margin-left: 10px

.table-orders.footable.breakpoint > tbody > tr > td > span.footable-toggle
  color: #df5e0e
  padding-top: 5px

.table-orders.footable > thead > tr:first-child > th
  border: 1px solid #ccc
